.dropzone {
    color: #1A9EF7 !important;
    font-weight: 550 !important;
    background-color: #EDF7FE !important;
    border-color: #1A9EF7 !important;
    border-width: medium !important;
}

.h-tab-content{
    height: calc(100vh - 257px - var(--kt-toolbar-height));
}
