<div [@routerTransition]>
    <div *ngIf="form" class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'entities_enterprise_editor_title' | localize" [breadcrumbs]="breadcrumbs">
            <div role="actions" class="">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('entities_enterprise_editor_label_btn_cancel') }}
                </button>
                <button class="btn btn-primary btn-customer" [disabled]="form.pristine" (click)="saveOnClick()">
                    {{ l('entities_enterprise_editor_label_btn_save') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form *ngIf="form" [formGroup]="form" (submit)="onFormSubmit($event, form)">
                            <div class="form-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation" *ngFor="let item of optionsMenu">
                                        <button
                                            class="nav-link option-tab"
                                            [ngClass]="{ 'active-tab': item.active }"
                                            (click)="selectMenu(item)"
                                            [id]="item.index + '-tab'"
                                            data-bs-toggle="tab"
                                            data-bs-target="#editorUser"
                                            type="button"
                                            role="tab"
                                            aria-controls="editorUser"
                                            aria-selected="true"
                                        >
                                            {{ l(item.titleLabel) }}
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content bg-white custom-scroll h-tab-content" id="myTabContent">
                                    <div
                                        class="tab-pane fade show active"
                                        id="editorUser"
                                        role="tabpanel"
                                        aria-labelledby="editorUser-tab"
                                    >
                                        <tab-enterprise-users
                                            [form]="form.get('users')"
                                            [id]="id"
                                            [ngClass]="{ 'd-none': optionSelectedMenu !== 'users' }"
                                        ></tab-enterprise-users>
                                        <tab-enterprise-plans
                                            [form]="form.get('plans')"
                                            [ngClass]="{ 'd-none': optionSelectedMenu !== 'plans' }"
                                        ></tab-enterprise-plans>
                                        <tab-enterprise-information
                                            [form]="form.get('information')"
                                            [listUsersId]="this.form.get('users')?.get('listUsersId')?.valueChanges"
                                            [ngClass]="{ 'd-none': optionSelectedMenu !== 'companyInformation' }"
                                        ></tab-enterprise-information>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
