<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'MeasuringTools' | localize " [description]="'QuestionsBank' | localize">
            <div role="actions">
                <button
                    class="btn btn-orange"
                    (click)="addOnClick()"
                >
                    <i class="fa fa-plus btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Question' | localize }}
                    </span>
                </button>
                <button
                class="btn btn-orange-light"
            >
                <i class="fa fa-filter btn-md-icon"></i>
                <span class="d-none d-md-inline-block">
                    {{ 'Filter' | localize }}
                </span>
            </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    
                    <dynamic-table 
                    [configColumns]="columns"
                    [filterPlaceholder]="l('SearchQuestionnaireName')"
                    [filtersByColumns]="filtersByColumns"
                    [executeFunction]="loadQuestionsBankData"
                    (editEvent)="editOnClick($event)"
                    (duplicateEvent)="duplicateOnClick($event)"
                    (deleteEvent)="deleteOnClick($event)"
                    [showEdit]="true"
                    [showDuplicate]="true"
                    [showDelete]="true"
                    ></dynamic-table>
                    
                </div>
            </div>
        </div>


    </div>
</div>