<div class="row">
    <!-- Success -->
    <div class="col-3" *ngIf="modalFooterButtoms.isSuccess">
        <button type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">
            {{ 'Success' | localize }}
        </button>
    </div>
    <!-- Faileru -->
    <div class="col-3" *ngIf="modalFooterButtoms.isFaileru">
        <button type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">
            {{ 'Faileru' | localize }}
        </button>
    </div>

    <!-- see more -->
    <div class="col-3" *ngIf="modalFooterButtoms.isSeeMore">
        <button type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">
            {{ 'SeeMore' | localize }}
        </button>
    </div>

    <!-- Optional -->
    <div class="col-3" *ngIf="modalFooterButtoms.isOptional">
        <a type="button" class="btn btn-light-primary font-weight-bold" (click)="closeModal()">
            {{ 'Optional' | localize }}
        </a>
    </div>
</div>
