<div class="alert question">
    <div class="question-box">
        <i class="flaticon2-down arrow">
        </i>
        <div class="content-text w-100">
            <span [title]="questionsInput?.tooltip">{{questionsInput.question}}</span>
            <img src="assets/common/images/warning.png" [title]="questionsInput.tooltip">
            <span class="question-state-changed">Modificada</span>
        </div>
        <i class="flaticon2-accept check"> </i>
    </div>
</div>

<div class="row align-items-center mb-4">
    <div class="col-xl-12">
        <div class="mb-5 m-form__group align-items-center">
            <!--<label class="col-md-12 form-label">Required</label>-->
            <textarea class="form-control edited" rows="4"></textarea>
        </div>
    </div>
</div>