.question {
    color: #205237;
    background-color: #eaf6f4;
}

.question-box {
    justify-content: space-between;
    align-items: center;
}

.check {
    color: #2aa08c;
    font-size: 15px;
}

.arrow {
    font-size: 8px;
}

.content-text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
}