<div class="row align-items-center mt-1">
    <div class="container">
    <div class="card card-custom gutter-b">
        <div class="card-body">
                <dynamic-input [questionsConfig]="Questions"></dynamic-input>
                <!--<dynamic-input [questionsConfig]="Questions"></dynamic-input>-->
                <!-- <dynamic-input [questionsConfig]="singleQuestion"></dynamic-input>
                <dynamic-input [questionsConfig]="multipleQuestion"></dynamic-input>
                <dynamic-input [questionsConfig]="openQuestion"></dynamic-input> -->
            </div>
        </div>
    </div>
</div>


