<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
      <div class="card card-custom gutter-b bg-transparent">
        <div class="card-body">
          <h2>Dynamic grafic</h2>                    
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let item of optionsMenu">
              <button class="nav-link option-tab" [ngClass]="{'active-tab': item.active}" (click)="selectMenu(item)"
                [id]="item.index +  '-tab'" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                aria-controls="home" aria-selected="true">{{item.titleLabel}}</button>
            </li>
          </ul>
          <div class="tab-content bg-white" id="myTabContent">
            <div class="row">
              <div class="col p-7">
                <div class="title-description">
                  {{titleDescriptionTab}}
                  <span>
                    <i class="fa fa-solid fa-info-circle text-customer"></i>
                  </span>
                </div>
                <div class="description">{{descriptionTab}}</div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <dynamic-grafic [configGrafic]="configGrafic$()" [data]="records$()"
                [descriptionGrafic]="descriptionGrafic"></dynamic-grafic>
            </div>
            <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
          </div>


        </div>
      </div>
    </div>

  </div>
</div>