<div
    appBsModal
    #addCategory="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="upsertElementModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l('measuringtools_categories_add')}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <app-dynamic-select-table
                        [configColumns]="columns"
                        [filterPlaceholder]="'Search...'"
                        [data]="records$()"
                        (isAddItemEvent)="onSelectedItemClose($event)"
                        (itemSelectedEvent)="onSelectedItem($event)"
                        [seletedIds]="selectedProducts"
                    ></app-dynamic-select-table>
                </div>
            </div>
        </div>
    </div>
</div>
