<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('MeasuringTools')" [description]="l('SpecialDistintionDescription')">
            <div role="actions">
                <button class="btn btn-customer-outline" (click)="goBack()">{{ l('Cancel') }}</button>
                <button class="btn btn-yellow text-black" (click)="save()" [disabled]="allowSave()">
                    {{ l('Confirm') }}
                </button>
            </div>
        </sub-header>
    </div>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b" style="margin-bottom: 1rem;">
            <div class="card-body">
                <div class="form">
                    <form [formGroup]="formSpecialDistintion">
                        <div class="form-body">
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('SpecialDistintionName') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formSpecialDistintion.get('title').touched &&
                                            formSpecialDistintion.get('title').invalid
                                        "
                                        formControlName="title"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Thematic') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        [class.is-invalid]="
                                            formSpecialDistintion.get('thematicId').touched &&
                                            formSpecialDistintion.get('thematicId').invalid
                                        "
                                        formControlName="thematicId"
                                    >
                                        <option disabled selected value>{{ l('Select_Option') }}</option>
                                        <option
                                            *ngFor="let inputType of allIputTypes; let i = index"
                                            [value]="allIputTypes[i].id"
                                        >
                                            {{ allIputTypes[i].name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-6">
                                    <label class="form-check form-check-custom form-check-solid form-switch">
                                        <input
                                            formControlName="isActive"
                                            type="checkbox"
                                            class="form-check-input"
                                            value="true"
                                            [checked]="true"
                                        />
                                        <span class="form-check-label">{{ l('SpecialDistintionActive') }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-12">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Description') }}</label>
                                    <textarea
                                        formControlName="description"
                                        class="form-control edited"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-6">
                                    <h6 class="col-md-12" style="font-weight: 500">{{ l('Icon') }}</h6>
                                    <ngx-dropzone (change)="onSelect($event)" class="dropzone">
                                        <ngx-dropzone-label class="font-weight-bolder">
                                            <div>
                                                <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                                            </div>
                                            {{ l('TitleUploadFile') }}
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-preview
                                            *ngFor="let f of files"
                                            [removable]="true"
                                            (removed)="onRemove(f)"
                                        >
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                    <label class="form-text text-muted mt-3 col-12">{{ l('TypeFormatFile') }}</label>
                                    <label class="form-text text-muted mt-3 col-12">{{ l('TypeLimitFile') }}</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div
            *ngIf="showQuestionsAssociated()"
            class="card card-custom gutter-b"
            style="margin-bottom: 1rem"
        >
            <div class="card-body">
                <div class="col-lg-12">
                    <h6 class="col-md-12" style="font-weight: 500">{{ l('AssociatedQuestions') }}</h6>
                </div>
                <div class="row mb-2" style="padding-top: 1rem">
                    <div class="col-lg-12">
                        <dynamic-table
                            [showFilter]="false"
                            [configColumns]="columns"
                            [executeFunction]="loadDataTable"
                            [reload]="reload$()"
                            (deleteEvent)="deleteOnClick($event)"
                            [showDelete]="true"
                        ></dynamic-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
