 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 24px;
     margin: 0;
     top: 0;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .dropzone {
     color: #1A9EF7 !important;
     font-weight: 550 !important;
     background-color: #EDF7FE !important;
     border-color: #1A9EF7 !important;
     border-width: medium !important;
 }
