<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom">
                <div class="card-body">
                    <h2>Select with filter</h2>
                    <form [formGroup]="formTemplate" autocomplete="off">
                        <div class="row mb-5">
                            <div class="col-12 col-sm-4">
                                <p-dropdown
                                    formControlName="selectRequired"
                                    [class.is-invalid]="
                                        formTemplate.get('selectRequired').touched &&
                                        formTemplate.get('selectRequired').invalid
                                    "
                                    [options]="cities"
                                    placeholder="Select a City"
                                    optionLabel="name"
                                    [showClear]="true"
                                    placeholder="Select Item"
                                    [filter]="true"
                                    [style]="{ width: '100%' }"
                                ></p-dropdown>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
