/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

.swal2-icon.swal2-info::before,
.swal2-icon.swal2-warning::before,
.swal2-icon.swal2-success::before,
.swal2-icon.swal2-error::before {
    content: '';
}

@keyframes glowing {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}
.root-initial-loader-hidden {
    visibility: hidden;
    display: none;
}

bs-days-calendar-view + bs-days-calendar-view {
    margin-left: 10px;
}

bs-days-calendar-view {
    display: inline-block;
    border-radius: 4px 0 0 4px;
}

@media (max-width: 768px) {
    .btn-md-icon {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
}

/* Styles */
:root {
    --color-bg-primary: #4f208e;
    --color-bg-primary-dark: #2e254b;
    --active-sidebar-tree: #3e226d;
    --color-disable-btn: #f2f2f2;
    --color-active-btn: #ffaa00;
    --color-active-btn-light: #ffebc2;
    --color-active-btn-focus: #e29b0b;
    --color-icon-into-inputs: #3da896;
    --color-symbol-success: #00ad4f;
    --color-symbol-green: #47f796;
    --color-symbol-red: red;
    --color-symbol-error: #911212;
    --color-precaution-btn: #ffaa00;
    --color-precaution-btn-light: #ffebc2;
    --color-precaution-btn-active: #fd9814;
    --color-orange-light: #ffebc2;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.gotham-rounded-medium {
    font-family: 'Poppins Medium', sans-serif !important;
}

label {
    font-family: 'Poppins Medium', sans-serif !important;
}

.bg-color-customer {
    background-color: var(--color-bg-primary) !important;
}

.active-sidebar {
    background-color: var(--color-bg-primary-dark) !important;
}

.font-family-gotham-rounded {
    font-family: 'Poppins', sans-serif;
}

.bg-customer {
    background-color: var(--color-active-btn) !important;
}
.bg-success {
    background-color: var(--color-symbol-success) !important;
}
.bg-error {
    background-color: var(--color-symbol-error) !important;
}
.bg-customer-light {
    background-color: var(--color-active-btn-light) !important;
    color: var(--color-active-btn-focus) !important;
}
.bg-yellow {
    background-color: var(--color-precaution-btn) !important;
    color: var(--color-precaution-btn) !important;
}
.bg-black {
    background-color: black !important;
    color: black !important;
}
.btn-customer {
    background-color: var(--color-active-btn) !important;
    border: solid var(--color-active-btn) 0.2rem !important;
    color: white !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
}

.btn-customer-outline {
    font-weight: 700 !important;
    border: solid var(--color-bg-primary) 0.2rem !important;
    color: var(--color-bg-primary) !important;
    padding: 0.4rem 1.5rem !important;
}
.btn-customer-light {
    background-color: var(--color-active-btn-light) !important;
    color: var(--color-active-btn-focus) !important;
    border: solid var(--color-active-btn-focus) 0.2rem !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
}

.btn-orange {
    background-color: var(--color-precaution-btn-active) !important;
    color: var(--color-bg-primary-dark) !important;
}

.btn-orange i {
    color: var(--color-bg-primary-dark) !important;
}

.btn-orange-light {
    background-color: var(--color-orange-light) !important;
    color: var(--color-precaution-btn-active) !important;
}

.btn-orange-light i {
    color: var(--color-precaution-btn-active) !important;
}
.btn-yellow {
    background-color: var(--color-precaution-btn) !important;
    border: solid var(--color-precaution-btn-active) 0.2rem !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
}
.btn-yellow:hover {
    background-color: var(--color-precaution-btn-active) !important;
}

.btn-green {
    background-color: var(--color-symbol-green) !important;
    border: solid var(--color-symbol-green) 0.2rem !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
    color: white !important;
}

.btn-red {
    background-color: var(--color-symbol-red) !important;
    border: solid var(--color-symbol-red) 0.2rem !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
    color: white !important;
}

.btn-yellow-light {
    background-color: var(--color-precaution-btn-light) !important;
    color: var(--color-precaution-btn) !important;
    border: solid var(--color-precaution-btn-light) 0.2rem !important;
    font-weight: 700 !important;
    padding: 0.4rem 1.5rem !important;
}
.btn-yellow-light:hover,
.btn-yellow-light:hover i {
    background-color: var(--color-precaution-btn) !important;
    color: black !important;
}
.text-red {
    color: red !important;
}
.form-check.form-check-solid .form-check-input:checked {
    background-color: #3e226d !important;
}

.active-tab{
    color: var(--color-active-btn);
    font-weight: 600;
    background-color: #fff;
}
.option-tab{
    color: black;
    font-weight: 500;
    margin-bottom: -4px;
}
.align-vertical-center {
    height: 100%;
    align-items: center;
    display: flex;
}

/* Scroll */
.custom-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 8px;
}

.custom-scroll::-webkit-scrollbar {
    width: 4px;
}
/* Scroll */


.container-button {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 468px) {   
    .container-button .btn {
        width: 100%;
        align-content: center;
        margin-bottom: 0.4rem;
        margin-left: 0rem;
    }   
}

.choose-image {
    cursor: pointer;
    font-weight: bold;
}

.choose-image:hover {
     color: var(--color-symbol-success);
}


.icon-exclamation {
    color: white;
    font-size: 14px;
}

.icon-exclamation:hover {
    cursor: pointer;
}

.alert .alert-success .question i {
    margin-right: 10px;
}

.rounded {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: darkgreen;
    border-style: solid black;
}

.question-box {
    display: flex;
}

.question-box .left {
    align-items: flex-start;
}

.question-box .rigth {
    align-items: flex-end;
}

.question-state-changed {
    background-color:#ede2cd;
    color: #e4913d;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.form-check-group {
    display: block;
}

.form-control:not(#SideBarSearch), .p-dropdown {
    border: 1px solid #b6b9c7f0 !important;
    border-radius: 0.9rem !important;
    margin-top: 0.675rem;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Poppins Medium', sans-serif !important;
}

.check-box-group {
    flex-direction: column;
}

.check-box-group .container label{
    margin-bottom: 5px;
}

.no-results-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    opacity: 0.3;
}

.no-results-div img {
    background-color: black;
}

#menu-profile {
    margin-right: -50px !important;
    width: 400px !important;
    height: 100% !important;
}

.p-datatable-table .p-sortable-column-badge {
    display: none !important;
}
