<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <h2>Dynamic Modal</h2>
                    <dynamic-modal
                        [_ModalHeaderImage]="headerImage"
                        [_ModalHeaderTitle]="headerTittle"
                        [_ModalBodyTitle]="bodyTittle"
                        [_ModalBodyDescription]="bodyDescription"
                        [_ModalFooterButtoms]="footerButtoms"
                    ></dynamic-modal>
                </div>
            </div>
        </div>
    </div>
</div>
