<div class="row mb-2" style="padding-top: 1rem">
    <div class="col-lg-12" *ngIf="showBtn">
        <button class="btn btn-yellow text-black float-end" (click)="onSelectedItem()">
            <i class="fa fa-plus bg-black"></i>
            {{ l('add') }}
        </button>
    </div>
</div>
<form *ngIf="showFilter" class="form" autocomplete="off" [ngClass]="{ 'd-none': hideSearchPanel }">
    <div class="row mb-5">
        <div class="col-12 col-sm-4">
            <input
                type="text"
                id="Branch_List_Filter_Name"
                name="branchListFilterName"
                class="form-control"
                autoFocus
                placeholder="{{ filterPlaceholder }}"
                [(ngModel)]="filters.filterText"
                (input)="searchOnInput()"
            />
        </div>
        <div class="col-12 col-sm-4" *ngIf="filtersByColumns">
            <p-dropdown
                [options]="filtersByColumns"
                [virtualScroll]="true"
                placeholder=""
                [autoDisplayFirst]="false"
                name="filtersByColumns"
                (onChange)="searchOnInput()"
                [(ngModel)]="filters.filtersByColumns"
                [appendTo]="null"
                [style]="{ width: '100%' }"
            ></p-dropdown>
        </div>
    </div>
</form>
<div class="row align-items-center mt-3">
    <!--<Primeng-TurboTable-Start>-->
    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table
            #dataTable
            sortMode="multiple"
            (onLazyLoad)="getData($event)"
            [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
            [paginator]="false"
            [lazy]="true"
            [responsive]="primengTableHelper.isResponsive"
            [sortOrder]="-1"
            [(selection)]="selectedProducts3"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox #checkBoxAll (click)="selectAll(checkBoxAll)"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of configColumns" [pSortableColumn]="col.field">
                        {{ l(col.titleLabel) }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <i *ngIf="col.icon" class="ms-2 text-success fa fa-exclamation-circle btn-md-icon"></i>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
                <tr>
                    <td>
                        <p-tableCheckbox #checkBox [value]="record" (click)="selectRow(checkBox, record)"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of configColumns" class="font-family-gotham-rounded">
                        <span class="p-column-title">{{ l(col.titleLabel) }}</span>
                        <span
                            *ngIf="col.type == 'string' || col.type == 'number'"
                            class="gotham-rounded-medium font-weight-values"
                        >
                            {{ record[col.field] }}
                        </span>
                        <span *ngIf="col.type == 'boolean'" class="symbol symbol-20px symbol-lg-30px">
                            <span
                                class="fs-2 fw-bold symbol-label text-inverse-success size-active-font"
                                [ngClass]="{ 'bg-success': record[col.field], 'bg-error': !record[col.field] }"
                            >
                                {{ record[col.field] ? l('Yes') : l('No') }}
                            </span>
                        </span>
                        <i
                            *ngIf="col.type == 'check'"
                            class="icon-4x flaticon2-accept"
                            [ngClass]="{ 'text-success': record[col.field], 'text-danger': !record[col.field] }"
                        ></i>
                        <span
                            *ngIf="col.type == 'date' && record[col.field]"
                            class="gotham-rounded-medium font-weight-values"
                        >
                            {{ record[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
                        </span>
                        <span *ngIf="col.type == 'img'">
                            <img [src]="record[col.field]" alt="" />
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{ l('NoData') }}
        </div>
        <div class="primeng-paging-container" [ngClass]="{ 'd-none': hidePaginator }">
            <p-paginator
                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                #paginator
                (onPageChange)="getData($event)"
                [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                [currentPageReportTemplate]="l('TotalRecordsCount') | localize: primengTableHelper.totalRecordsCount"
                [showCurrentPageReport]="true"
            ></p-paginator>
        </div>
    </div>
</div>
