
<ng-template>
    <label [title]="questionsInput?.tooltip">{{questionsInput.question}}</label>
    <div class="d-flex mb-5">
        <label for="" class="form-check form-check-custom form-check-solid me-5">
            <input class="form-check-input" [value]="true" type="text" />
        </label>
    </div>
</ng-template>