<!-- <form class="form" autocomplete="off">
    <div class="row">
        <div class="col-12 col-md-4">
            <input type="text" id="Branch_List_Filter_Name" name="branchListFilterName" class="form-control" autoFocus
                placeholder="{{ l('SearchCategoryMT') }}" [(ngModel)]="filters.filterText"
                (input)="zipCodeSearchOnInput()" />
        </div>
    </div>
</form> -->
<!-- <div class="row align-items-center"> -->
<div class="m-1" *ngIf="configGraficFix">
    <!-- <div class="d-flex justify-content-start">
        <div class="flex-grow-key">
        </div>
        <div class="d-flex justify-content-between flex-grow-1 gap-10">
            <div class="d-flex flex-grow-1" *ngFor="let col of configGraficFix.xKey">
                <div class="d-block text-center w-100">
                    <span class="w-100">
                        {{ col }}

                    </span>
                </div>
            </div>
            <!-- <div class="d-flex flex-grow-1" *ngFor="let col of configGraficFix.xKey">
                <div class="d-block text-center w-100">
                    <span class="symbol w-100">
                        <span class="fs-2 fw-bold symbol-label text-inverse-success w-100"
                            [ngStyle]="{'background-color': row[col].color}">
                            <span class="width-values">
                                {{ row[col].text }}
                            </span>
                        </span>
                    </span>
                </div>
            </div>  -- >
        </div>
    </div>
    <div class="d-flex justify-content-start" *ngFor="let row of matriz; let i = index">
        <div class="flex-grow-key">
            {{row.key}}
        </div>
        <div class="d-flex justify-content-between flex-grow-1 gap-10">
            <div class="flex-grow-1" *ngFor="let col of configGraficFix.xKey">
                <div class="d-block text-center w-100">
                    <span class="symbol w-100">
                        <span class="fs-2 fw-bold symbol-label text-inverse-success w-100"
                            [ngStyle]="{'background-color': row[col].color}">
                            <span class="width-values">
                                {{ row[col].text }}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="d-flex justify-content-between" *ngFor="let row of dataFix; let i = index">
        {{row[configGraficFix.yKey]}}
        <div class="d-flex" *ngFor="let col of configGraficFix.xKey">
            <span class="symbol">
                <span class="bg-customer fs-2 fw-bold symbol-label text-inverse-success">
                    {{ row[col] }}
                </span>
            </span>
        </div>
    </div> -->
    <div class="d-flex justify-content-start">
        <div class="me-2" *ngFor="let rang of configGraficFix.rangeConfig; let i = index">
            <div class="color-container-range" [ngStyle]="{'background-color': rang.color}"></div>
            <span>{{rang.label}}</span>
        </div>
        <div [innerHTML]="configGraficFix.aditionalLabel || ''"></div>
    </div>
    <div class="container mt-4">
        <div class="col text-center">
          <div class="title-description">
            {{descriptionGrafic}}
            <span>
              <i class="fa fa-solid fa-info-circle text-customer"></i>
            </span>
          </div>
      </div>
    <table class="table table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th class="text-center" *ngFor="let col of configGraficFix.xKey">
                    {{ col }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of matriz; let i = index">
                <td class="text-end">
                        <span>
                            {{row.key}}
                        </span>
                </td>
                <td *ngFor="let col of configGraficFix.xKey">
                    <span class="symbol w-100">
                        <span class="fs-2 fw-bold symbol-label text-inverse-success w-100"
                            [ngStyle]="{'background-color': row[col].color}">
                            <span class="width-values">
                                <div [innerHTML]="row[col].text"></div>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- </div> -->