
.bg-customer {
    background-color: var(--color-active-btn)!important;
}
.btn-customer {
    background-color: var(--color-active-btn)!important;
    color: white!important;
}
.btn-customer:hover {
    background-color: var(--color-active-btn-focus)!important;
    color: white!important;
}
.btn-customer {
    font-weight: 700!important;
}


.flex-grow-key {
    // flex-grow: 0.1;
    width: 9.96rem;
}
th {
    width: 3.98rem;
    max-width: 3.98rem;
    font-size: 0.84rem;
    
}
td {
    width: 3.98rem;
    vertical-align: middle;
    font-size: 0.84rem;
}
.color-container-range{
    height: 10px;
    width: 20px;
    border-radius: 3px;
    margin: 0px 6px;
    display: inline-flex;
}
table{
    // padding: 0px 10%;
}
.text-customer {
    color: var(--color-active-btn);
}