<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <h2>Dynamic table</h2>
                    <dynamic-table [showEdit]="true" [showDelete]="true" [configColumns]="columns" [data]="records$()"
                        (pagingChange)="pagingChange($event)"></dynamic-table>
                </div>
            </div>
        </div>
    </div>
</div>