<div [@routerTransition]>
    <div *ngIf="form" class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('configurations_sector_subtitle')" [breadcrumbs]="breadcrumbs">
            <div role="actions" class="">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('measuringtools_categories_editor_label_btn_cancel') }}
                </button>
                <button class="btn btn-primary btn-customer" [disabled]="form.pristine" (click)="saveOnClick()">
                    {{ l('measuringtools_categories_editor_label_btn_save') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form *ngIf="form" [formGroup]="form" (submit)="onFormSubmit($event, form)">
                            <div class="form-body">
                                <div class="row mt-2">                                    
                                    <div class="col-12 col-sm-6 mt-4">
                                        <input-text
                                            [form]="form"
                                            [name]="'name'"
                                            [title]="l('configurations_sector_editor_name')">
                                        </input-text>
                                    </div>
                                    <div class="col-12 col-sm-6 mt-4">
                                        <input-text
                                            [form]="form"
                                            [name]="'type'"
                                            [title]="l('configurations_sector_editor_type')">
                                        </input-text>
                                    </div>                                                                   
                                    <div class="col-12 col-sm-6 mt-12">
                                        <input-switch
                                            [form]="form"
                                            [name]="'isActive'"
                                            [title]="l('configurations_sector_editor_active')">
                                        </input-switch>
                                    </div>
                                    <div class="col-12 col-sm-6 mt-4" *ngIf="isNew">
                                        <input-text
                                            [form]="form"
                                            [name]="'ciiu'"
                                            [title]="l('configurations_sector_editor_ciiu')">
                                        </input-text>
                                    </div>   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
