<div *ngIf="modalHeaderImage.isShow">
    <img class="modal-header-image" src="{{ modalHeaderImage.src }}" alt="{{ modalHeaderImage.src }}" />
</div>
<div *ngIf="modalHeaderTitle.isShow">
    <h4 class="modal-header-title">
        {{ modalHeaderTitle.text }}
        <!-- <span>{{ 'ModalTitle' | localize }}</span> -->
    </h4>
</div>
