<div [formGroup]="form">
    <div class="form-group">
        <label class="gotham-rounded-medium mb-2">
            {{ title || '' }}
        </label>
        <div class="input-group">
            <textarea
                [formControlName]="name"
                [name]="name"
                [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
                class="form-control edited"
                rows="4"
            ></textarea>
        </div>
    </div>
</div>
