<div [@routerTransition]>
    <div *ngIf="form" class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Groupings' | localize" [breadcrumbs]="breadcrumbs">
            <div role="actions" class="">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('Cancel') }}
                </button>
                <button class="btn btn-primary btn-customer" [disabled]="form.pristine" (click)="saveOnClick()">
                    {{ l('Confirm') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form *ngIf="form" [formGroup]="form" (submit)="onFormSubmit($event, form)">
                            <div class="form-body">
                                <input-text [form]="form" [name]="'name'" [title]="l('Grouping')"></input-text>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass" class="mt-2">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form *ngIf="form" [formGroup]="form.get('users')">
                            k
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
