<div [formGroup]="form" class="container-fluid ps-3 pe-3">
    <div class="row mt-5">
        <div class="col-12">
            <input-text id="name" [form]="form" [name]="'name'" [title]="l('users_aequeales_editor_name')"></input-text>
        </div>
        <div class="col-12">
            <input-text [form]="form" [name]="'surname'" [title]="l('users_aequeales_editor_lastname')"></input-text>
        </div>
        <div class="col-12">
            <input-text [form]="form" [name]="'emailAddress'" [title]="l('users_aequeales_editor_emailaddress')"></input-text>
        </div>
        <div class="col-12">
            <input-text [form]="form" [name]="'userName'" [title]="l('users_aequeales_editor_Username')"></input-text>
        </div>
        <div class="col-12">
            <input-password [form]="form" name="password" [title]="l('users_aequeales_editor_password')"></input-password>
        </div>
        <div class="col-12">
            <input-password [form]="form" name="repeatPassword" [title]="l('users_aequeales_editor_repeatpassword')"></input-password>
        </div>
    </div>
</div>
