.inline {
    max-width: 400px;
    margin: auto;
}
.input-icons i {
    position: absolute;
}


.tooltip-inner {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    text-align: left;
}

.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
    border-top-color: black;
}

.p-dropdown {
    border-color: #e4e6ef !important;
}

.text-muted {
    font-weight: 300;
}
.font-weight-normal{
    font-weight: 300;
}
