<div class="alert alert-success question">
    <div class="question-box">
        <div class="left">
            <label [title]="questionsInput?.tooltip">{{questionsInput.question}}</label>
            <i class="bi bi-exclamation icon-exclamation rounded" [title]="questionsInput.tooltip"></i>
            <span class="question-state-changed">Modificada</span>
        </div>
        <div class="rigth">
            <i class="bi bi-check color-success"></i>
        </div>  
    </div>
</div>
<div class="mb-10">
    <div *ngFor="let resp of questionsInput.responses; let i = index">
        <label for="{{resp+i}}" class="form-check form-check-custom form-check-solid me-5">
            <input  [class.is-invalid]=""
                formControlName="radioRequired"
                class="form-check-input"
                id="{{resp+i}}"
                name="radioRequired"
                [value]="true"
                type="radio"/>
                <span class="form-check-label">{{resp}}</span>
        </label>
    </div>
</div>