
<div *ngFor="let questionConfig of questionsConfig">
    <div [ngSwitch]="questionConfig.type">
        <dynamic-radio-boolean *ngSwitchCase="'boolean'" [questionsInput]="questionConfig"> </dynamic-radio-boolean>
        <dynamic-selectmultiple *ngSwitchCase="'multipleselection'" [questionsInput]="questionConfig"> </dynamic-selectmultiple>
        <dynamic-selectsingle *ngSwitchCase="'singleselection'" [questionsInput]="questionConfig"> </dynamic-selectsingle>
        <dynamic-textarea *ngSwitchCase="'openquestion'" [questionsInput]="questionConfig"> </dynamic-textarea>
        <dynamic-text *ngSwitchCase="'text'" [questionsInput]="questionConfig"> </dynamic-text>
    </div>
</div>