.inputShowHide {
    margin-top: -2.2rem !important;
    float: right;
    margin-right: 1rem;
}

.inputPhone {
    margin-top: 2.78rem;
}

.inputPhone div.itl {
    min-width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0;
    top: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
