<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <app-stepper #myStepper [stepperLabel]="'RegisterOrganization' | localize" [allowManualStepping]="true">
            <!-- Register Type -->
            <app-step [title]="stepperSetup.stepUserType.title" [stepControl]="stepperSetup.stepUserType.isValid">
                <div class="content-step">
                    <!-- Step Content -->
                    <div class="d-flex mb-5">
                        <label for="OrganizationType_Group" class="form-check form-check-custom form-check-solid me-5">
                            <input
                                class="form-check-input"
                                id="OrganizationType_Group"
                                name="SubscriptionType"
                                [(ngModel)]="isOrganizationTypeGroup"
                                [value]="true"
                                type="radio"
                                (change)="changeOrganizationType($event)"
                            />

                            <div class="card card-custom gutter-b">
                                <div class="card-body">
                                    <h2>{{ 'OrganizationGroup' | localize }}</h2>
                                    <label class="form-label">{{ 'OrganizationGroupDefinition' | localize }}</label>
                                </div>
                            </div>

                            <img
                                [src]="
                                    '/assets/metronic/assets/media/svg/illustrations/SignIn_Registro_GrupoEmpresarial.png'
                                "
                                width="250"
                            />
                        </label>

                        <label for="OrganizationType_Single" class="form-check form-check-custom form-check-solid me-5">
                            <input
                                class="form-check-input"
                                id="OrganizationType_Single"
                                name="SubscriptionType"
                                [(ngModel)]="isOrganizationTypeGroup"
                                [value]="false"
                                type="radio"
                                (change)="changeOrganizationType($event)"
                            />

                            <div class="card card-custom gutter-b">
                                <div class="card-body">
                                    <h2>{{ 'Organization' | localize }}</h2>
                                    <label class="form-label">{{ 'OrganizationDefinition' | localize }}</label>
                                </div>
                            </div>

                            <img
                                [src]="'/assets/metronic/assets/media/svg/illustrations/SignIn_Registro_Empresa.png'"
                                width="250"
                            />
                        </label>
                    </div>

                    <div class="d-flex justify-content-end align-items-end mt-20 gap-1">
                        <label class="form-label mb-0">{{ 'AlreadyHaveAccount' | localize }}</label>
                        <label class="margin-left-2 icon-exclamation-pointer choose-image" (click)="redirectLogin()">
                            {{ 'EnterHere' | localize }}
                        </label>
                    </div>

                    <!-- Step Actions -->
                    <div class="content-actions">
                        <button
                            class="btn btn-success"
                            [class.disabled]="!stepperSetup.stepUserType.isValid"
                            (click)="myStepper.next()"
                        >
                            {{ 'Continue' | localize }}
                        </button>
                    </div>
                </div>
            </app-step>

            <!-- User data -->
            <app-step
                [title]="stepperSetup.stepAccessData.title"
                [stepControl]="stepperSetup.stepAccessData.isValid"
                *ngIf="!stepperSetup.stepAccessData.hidden"
            >
                <div class="content-step">
                    <!-- Step Content -->
                    <form #userForm="ngForm">
                        <div class="body">
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <label class="form-label" for="Name">{{ 'FirstName' | localize }}</label>
                                    <input
                                        id="Name"
                                        #nameInput="ngModel"
                                        class="form-control"
                                        type="text"
                                        name="Name"
                                        [(ngModel)]="user.name"
                                        required
                                        maxlength="64"
                                        [pattern]="this.onlyAlphaSpace"
                                    />
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="Surname">{{ 'Surname' | localize }}</label>
                                    <input
                                        id="Surname"
                                        #surnameInput="ngModel"
                                        type="text"
                                        name="Surname"
                                        class="form-control"
                                        [(ngModel)]="user.surname"
                                        [pattern]="this.onlyAlphaSpace"
                                        required
                                        maxlength="64"
                                    />
                                    <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-12">
                                    <label class="form-label" for="EmailAddress">{{ 'EmailAddress' | localize }}</label>
                                    <input
                                        id="EmailAddress"
                                        #emailAddressInput="ngModel"
                                        type="email"
                                        placeholder="{{ 'EmailAddressPlaceholder' | localize }}"
                                        name="EmailAddress"
                                        class="form-control"
                                        [(ngModel)]="user.emailAddress"
                                        required
                                        maxlength="256"
                                        email
                                    />
                                    <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <label class="form-label" for="Password">{{ 'Password' | localize }}</label>
                                    <input
                                        id="Password"
                                        type="password"
                                        name="Password"
                                        #Password="ngModel"
                                        id="Password"
                                        class="form-control"
                                        [(ngModel)]="user.password"
                                        [required]="!user.id && !setRandomPassword"
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="PasswordRepeat"
                                        reverse="true"
                                        autocomplete="new-password"
                                        appPasswordShowHide
                                    />
                                    <validation-messages [formCtrl]="Password"></validation-messages>
                                    <div class="col">
                                        <div
                                            [hidden]="
                                                setRandomPassword || userForm.form.valid || userForm.form.pristine
                                            "
                                        >
                                            <ul
                                                class="help-block text-danger"
                                                *ngIf="
                                                    userForm.controls['Password'] &&
                                                    userForm.controls['Password'].errors
                                                "
                                            >
                                                <li [hidden]="!userForm.controls['Password'].errors.requireDigit">
                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                                </li>
                                                <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                                </li>
                                                <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        !userForm.controls['Password'].errors.requireNonAlphanumeric
                                                    "
                                                >
                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                                </li>
                                                <li [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                                    {{
                                                        'PasswordComplexity_RequiredLength_Hint'
                                                            | localize: passwordComplexitySetting.requiredLength
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <label class="form-label" for="PasswordRepeat">
                                        {{ 'PasswordRepeat' | localize }}
                                    </label>
                                    <input
                                        id="PasswordRepeat"
                                        type="password"
                                        name="PasswordRepeat"
                                        #PasswordRepeat="ngModel"
                                        class="form-control"
                                        [(ngModel)]="userPasswordRepeat"
                                        [required]="!user.id && !setRandomPassword"
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="Password"
                                        reverse="false"
                                        autocomplete="new-password"
                                        appPasswordShowHide
                                    />
                                    <validation-messages [formCtrl]="PasswordRepeat"></validation-messages>
                                    <div class="col-xl-6">
                                        <div
                                            [hidden]="
                                                setRandomPassword || userForm.form.valid || userForm.form.pristine
                                            "
                                        >
                                            <ul
                                                class="help-block text-danger"
                                                *ngIf="
                                                    userForm.controls['PasswordRepeat'] &&
                                                    userForm.controls['PasswordRepeat'].errors
                                                "
                                            >
                                                <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                                                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        !userForm.controls['PasswordRepeat'].errors.requireLowercase
                                                    "
                                                >
                                                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        !userForm.controls['PasswordRepeat'].errors.requireUppercase
                                                    "
                                                >
                                                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        !userForm.controls['PasswordRepeat'].errors
                                                            .requireNonAlphanumeric
                                                    "
                                                >
                                                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        !userForm.controls['PasswordRepeat'].errors.requiredLength
                                                    "
                                                >
                                                    {{
                                                        'PasswordComplexity_RequiredLength_Hint'
                                                            | localize: passwordComplexitySetting.requiredLength
                                                    }}
                                                </li>
                                                <li
                                                    [hidden]="
                                                        userForm.controls['PasswordRepeat'].valid ||
                                                        userForm.controls['PasswordRepeat'].pristine
                                                    "
                                                >
                                                    {{ 'PasswordsDontMatch' | localize }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-end mt-20 gap-1">
                            <label class="form-label mb-0">{{ 'AlreadyHaveAccount' | localize }}</label>
                            <label
                                class="margin-left-2 icon-exclamation-pointer choose-image"
                                (click)="redirectLogin()"
                            >
                                {{ 'EnterHere' | localize }}
                            </label>
                        </div>

                        <!-- Step Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success font-weight-bold"
                                [disabled]="!userForm.form.valid || saving"
                                (click)="stepChanged(myStepper.steps)"
                            >
                                <span>{{ 'Continue' | localize }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>

            <!-- Group data -->
            <app-step
                [title]="stepperSetup.stepYourGroupData.title"
                [stepControl]="stepperSetup.stepYourGroupData.isValid"
                *ngIf="!stepperSetup.stepYourGroupData.hidden"
            >
                <div class="content-step">
                    <!-- Step Content -->
                    <form #groupForm="ngForm">
                        <div class="modal-body">
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <label class="form-label" for="Name">
                                        {{ 'OrganizationGroupName' | localize }}
                                    </label>
                                    <input
                                        id="OrganizationGroupName"
                                        #organizationGroupNameInput="ngModel"
                                        class="form-control"
                                        type="text"
                                        name="OrganizationGroupName"
                                        [(ngModel)]="enterpriseGroup.name"
                                        required
                                        maxlength="150"
                                        [pattern]="this.onlyAlphaNumeric"
                                    />
                                    <validation-messages [formCtrl]="organizationGroupNameInput"></validation-messages>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="OrganizationQuantity">
                                        {{ 'OrganizationQuantity' | localize }}
                                    </label>
                                    <input
                                        id="OrganizationQuantity"
                                        #organizationQuantityInput="ngModel"
                                        type="number"
                                        name="OrganizationQuantity"
                                        class="form-control"
                                        [(ngModel)]="enterpriseGroup.enterpriseNumber"
                                        required
                                        min="0"
                                        max="100"
                                    />
                                    <validation-messages [formCtrl]="organizationQuantityInput"></validation-messages>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="OrganizationOperatesMoreThanOneCountry"
                                                type="checkbox"
                                                name="OrganizationOperatesMoreThanOneCountry"
                                                (change)="changeGroupIsInternational($event)"
                                                [(ngModel)]="enterpriseGroup.isInternational"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'OrganizationOperatesMoreOneCountry' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xl-6" *ngIf="enterpriseGroup.isInternational">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="RegionalManagementExist"
                                                type="checkbox"
                                                (change)="changeGroupRegionalManagementExist($event)"
                                                name="RegionalManagementExist"
                                                [(ngModel)]="enterpriseGroup.hasInclusion"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'RegionalManagementExist' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="row mb-4"
                                *ngIf="enterpriseGroup.isInternational && enterpriseGroup.hasInclusion"
                            >
                                <div class="col-xl-6">
                                    <label class="form-label" for="RegionalManagementName">
                                        {{ 'RegionalManagementName' | localize }}
                                    </label>
                                    <input
                                        id="RegionalManagementName"
                                        #RegionalManagementNameInput="ngModel"
                                        type="text"
                                        name="RegionalManagementName"
                                        class="form-control"
                                        [(ngModel)]="enterpriseGroup.inclusionRegionalManagerName"
                                        required
                                        maxlength="150"
                                        [pattern]="this.onlyAlphaSpace"
                                    />
                                    <validation-messages [formCtrl]="RegionalManagementNameInput"></validation-messages>
                                </div>

                                <div class="col-xl-6">
                                    <label class="form-label" for="RegionalManagementEmail">
                                        {{ 'RegionalManagementEmail' | localize }}
                                    </label>
                                    <input
                                        id="RegionalManagementEmail"
                                        #RegionalManagementEmailInput="ngModel"
                                        type="email"
                                        name="RegionalManagementEmail"
                                        class="form-control"
                                        [(ngModel)]="enterpriseGroup.inclusionRegionalManagerEmail"
                                        required
                                        maxlength="150"
                                        email
                                    />
                                    <validation-messages
                                        [formCtrl]="RegionalManagementEmailInput"
                                    ></validation-messages>
                                </div>
                            </div>
                        </div>

                        <!-- Step Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success"
                                type="button"
                                (click)="stepChanged(myStepper.steps)"
                                [disabled]="!groupForm.form.valid || saving"
                            >
                                {{ 'Continue' | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>

            <!-- Grouped Enterprises -->
            <app-step
                [title]="stepperSetup.stepYourOrganizationsGroupData.title"
                [stepControl]="stepperSetup.stepYourOrganizationsGroupData.isValid"
                *ngIf="!stepperSetup.stepYourOrganizationsGroupData.hidden"
            >
                <div class="content-step">
                    <!-- Step Content -->
                    <form #groupedEnterpriseForm="ngForm">
                        <div class="modal-body">
                            <div class="row mb-4" *ngFor="let ent of enterpriseListToSave; let i = index">
                                <div class="row mb-4">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label for="country" class="gotham-rounded-medium mb-2">
                                                {{ 'Country' | localize }}
                                            </label>
                                            <div class="input-group" style="display: block">
                                                <!--                                             <select
                                                    id="country"
                                                    class="form-select form-control"
                                                    [(ngModel)]="selectedEnterpriseCountryId"
                                                    name="country"
                                                    (change)="countryEnterpriseSelectionChanged($event)"
                                                    required
                                                >
                                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                                    <option *ngFor="let country of countries" [value]="country.id">
                                                        {{ country.name }}
                                                    </option>
                                                </select> -->
<!--                                                 <p-dropdown
                                                    [options]="countries"
                                                    optionLabel="name"
                                                    name="ent.{{ i }}.country"
                                                    [showClear]="true"
                                                    [(ngModel)]="ent.selectedEnterpriseCountryId"
                                                    (onChange)="countryGroupEnterpriseSelectionChanged($event, ent)"
                                                    [filter]="true"
                                                    [style]="{ width: '100%', display: 'flex' }"
                                                    emptyFilterMessage="  "
                                                    placeholder="{{ l('Select') }}"
                                                    emptyMessage="  "
                                                ></p-dropdown> -->
                                                <p-dropdown
                                                [options]="countries"
                                                optionLabel="name"
                                                [showClear]="true"
                                                [(ngModel)]="ent.selectedEnterpriseCountryId"
                                                (onChange)="countryGroupEnterpriseSelectionChanged($event, ent)"
                                                [filter]="true"
                                                [style]="{ width: '100%', display: 'flex' }"
                                                emptyFilterMessage="  "
                                                placeholder="{{ l('Select') }}"
                                                emptyMessage="  "
                                            ></p-dropdown>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label for="region" class="gotham-rounded-medium mb-2">
                                                {{ 'Region' | localize }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="region"
                                                    class="form-select form-control"
                                                    [disabled]="ent.selectedEnterpriseCountryId == null"
                                                    [(ngModel)]="ent.selectedEnterpriseRegionId"
                                                    name="ent.{{ i }}.selectedEnterpriseRegionId"
                                                    (change)="regionGroupEnterpriseSelectionChanged(ent, $event)"
                                                    required
                                                >
                                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                                    <option *ngFor="let region of ent.regions" [value]="region.id">
                                                        {{ region.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label for="city" class="gotham-rounded-medium mb-2">
                                                {{ 'City' | localize }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="city"
                                                    class="form-select form-control"
                                                    [disabled]="ent.selectedEnterpriseRegionId == null"
                                                    [(ngModel)]="ent.selectedEnterpriseCityId"
                                                    name="ent.{{ i }}.selectedEnterpriseCityId"
                                                    required
                                                    (ngModelChange)="cityEnterpriseSelectionChanged($event)"
                                                >
                                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                                    <option *ngFor="let city of ent.cities" [ngValue]="city.id">
                                                        {{ city.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-xl-6">
                                        <label class="form-label" for="Name">{{ 'OrganizationName' | localize }}</label>
                                        <input
                                            id="OrganizationName"
                                            #organizationNameInput="ngModel"
                                            class="form-control"
                                            type="text"
                                            name="ent.{{ i }}.name"
                                            [(ngModel)]="ent.name"
                                            required
                                            maxlength="150"
                                            [pattern]="this.onlyAlphaNumeric"
                                        />
                                        <validation-messages
                                            [formCtrl]="organizationNameInput"
                                        ></validation-messages>
                                    </div>
                                    <div class="col-xl-6">
                                        <label class="form-label" for="OrganizationIdentification">
                                            {{ 'OrganizationIdentificationNumber' | localize }}
                                            {{
                                                ent.selectedEnterpriseCountry?.nicRucLength !== null &&
                                                ent.selectedEnterpriseCountry?.code
                                                    ? ' (' + ent.selectedEnterpriseCountry.code.split('-')[0]
                                                    : ''
                                            }}
                                            {{
                                                ent.selectedEnterpriseCountry?.nicRucLength !== null
                                                    ? ' ' +
                                                      ent.selectedEnterpriseCountry.nicRucLength +
                                                      ' ' +
                                                      ('Digits' | localize) +
                                                      ')'
                                                    : ''
                                            }}
                                        </label>
                                        <input
                                            id="OrganizationIdentification"
                                            #organizationIdentificationInput="ngModel"
                                            type="text"
                                            name="ent.{{ i }}.OrganizationIdentification"
                                            class="form-control"
                                            [disabled]="ent.selectedEnterpriseCountryId == null"
                                            [(ngModel)]="ent.OrganizationIdentification"
                                            required
                                            [maxlength]="
                                                ent.selectedEnterpriseCountry?.nicRucLength !== null &&
                                                ent.selectedEnterpriseCountry?.nicRucLength
                                                    ? ent.selectedEnterpriseCountry.nicRucLength
                                                    : 20
                                            "
                                            [pattern]="ent.validationOrganizationId"
                                        />
                                        <validation-messages
                                            [formCtrl]="organizationIdentificationInput"
                                        ></validation-messages>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label for="sector" class="gotham-rounded-medium mb-2">
                                                {{ l('EconomicActivity') }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="sector"
                                                    class="form-select form-control"
                                                    [(ngModel)]="ent.selectedEnterpriseSectorId"
                                                    name="ent.{{ i }}.selectedEnterpriseSectorId"
                                                    required
                                                    [tooltipHtml]="l('TooltipSector')"
                                                    placement="top"
                                                >
                                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                                    <option *ngFor="let sector of sectors" [value]="sector.id">
                                                        {{ sector.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label for="collaborator" class="gotham-rounded-medium mb-2">
                                                {{ l('NumberOfCollaborators') }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="collaborator"
                                                    class="form-select form-control"
                                                    [(ngModel)]="ent.selectedEnterpriseCollaboratorId"
                                                    name="ent.{{ i }}.selectedEnterpriseCollaboratorId"
                                                    required
                                                >
                                                    <option
                                                        *ngFor="let collaborator of collaborators"
                                                        [value]="collaborator.id"
                                                    >
                                                        {{ collaborator.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label for="enterpriseTypeId" class="gotham-rounded-medium mb-2">
                                                {{ l('entities_enterprise_editor_information_enterpriseTypeId') }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="enterpriseTypeId"
                                                    class="form-select form-control"
                                                    [(ngModel)]="ent.enterpriseTypeId"
                                                    name="ent.{{ i }}.enterpriseTypeId"
                                                    required
                                                >
                                                    <option
                                                        *ngFor="let optionEnterpriseTypeId of optionsEnterpriseTypeId"
                                                        [value]="optionEnterpriseTypeId.id"
                                                    >
                                                        {{ optionEnterpriseTypeId.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Step Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success"
                                [disabled]="!groupedEnterpriseForm.form.valid"
                                (click)="stepChanged(myStepper.steps)"
                            >
                                {{ 'Continue' | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>

            <!--Enterprise data-->
            <app-step
                [title]="stepperSetup.stepYourOrganizationData.title"
                [stepControl]="stepperSetup.stepYourOrganizationData.isValid"
                *ngIf="!stepperSetup.stepYourOrganizationData.hidden"
            >
                <div class="content-step">
                    <!-- Step Content -->
                    <form #enterpriseForm="ngForm">
                        <div class="modal-body">
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label for="country" class="gotham-rounded-medium mb-2">
                                            {{ 'Country' | localize }}
                                        </label>
                                        <div class="input-group" style="display: block">
                                            <!--                                             <select
                                                id="country"
                                                class="form-select form-control"
                                                [(ngModel)]="selectedEnterpriseCountryId"
                                                name="country"
                                                (change)="countryEnterpriseSelectionChanged($event)"
                                                required
                                            >
                                                <option disabled selected value>{{ l('Select_Option') }}</option>
                                                <option *ngFor="let country of countries" [value]="country.id">
                                                    {{ country.name }}
                                                </option>
                                            </select> -->
                                            <p-dropdown
                                                [options]="countries"
                                                optionLabel="name"
                                                [showClear]="true"
                                                [(ngModel)]="selectedEnterpriseCountryId"
                                                (onChange)="countryEnterpriseSelectionChanged($event)"
                                                [filter]="true"
                                                [style]="{ width: '100%', display: 'flex' }"
                                                emptyFilterMessage="  "
                                                placeholder="{{ l('Select') }}"
                                                emptyMessage="  "
                                            ></p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label for="region" class="gotham-rounded-medium mb-2">
                                            {{ 'Region' | localize }}
                                        </label>
                                        <div class="input-group">
                                            <select
                                                id="region"
                                                class="form-select form-control"
                                                [disabled]="selectedEnterpriseCountryId == null"
                                                [(ngModel)]="selectedEnterpriseRegionId"
                                                name="region"
                                                (change)="regionEnterpriseSelectionChanged($event)"
                                                required
                                            >
                                                <option disabled selected value>{{ l('Select_Option') }}</option>
                                                <option *ngFor="let region of regions" [value]="region.id">
                                                    {{ region.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label for="city" class="gotham-rounded-medium mb-2">
                                            {{ 'City' | localize }}
                                        </label>
                                        <div class="input-group">
                                            <select
                                                id="city"
                                                class="form-select form-control"
                                                [disabled]="selectedEnterpriseRegionId == null"
                                                [(ngModel)]="selectedEnterpriseCityId"
                                                name="city"
                                                required
                                                (ngModelChange)="cityEnterpriseSelectionChanged($event)"
                                            >
                                                <option disabled selected value>{{ l('Select_Option') }}</option>
                                                <option *ngFor="let city of cities" [ngValue]="city.id">
                                                    {{ city.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <label class="form-label" for="Name">{{ 'OrganizationName' | localize }}</label>
                                    <input
                                        id="OrganizationName"
                                        #organizationNameInput="ngModel"
                                        class="form-control"
                                        type="text"
                                        name="OrganizationName"
                                        [(ngModel)]="singleEnterprise.name"
                                        required
                                        maxlength="150"
                                        [pattern]="this.onlyAlphaNumeric"
                                    />
                                    <validation-messages [formCtrl]="organizationNameInput"></validation-messages>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="OrganizationIdentification">
                                        {{ 'OrganizationIdentificationNumber' | localize }}
                                        {{
                                            this.selectedEnterpriseCountry?.nicRucLength !== null &&
                                            this.selectedEnterpriseCountry?.code
                                                ? ' (' + this.selectedEnterpriseCountry.code.split('-')[0]
                                                : ''
                                        }}
                                        {{
                                            this.selectedEnterpriseCountry?.nicRucLength
                                                ? ' ' +
                                                  this.selectedEnterpriseCountry.nicRucLength +
                                                  ' ' +
                                                  ('Digits' | localize) +
                                                  ')'
                                                : ''
                                        }}
                                    </label>
                                    <input
                                        id="OrganizationIdentification"
                                        #organizationIdentificationInput="ngModel"
                                        type="text"
                                        name="OrganizationIdentification"
                                        class="form-control"
                                        [disabled]="selectedEnterpriseCountryId == null"
                                        [(ngModel)]="singleEnterprise.idNumber"
                                        required
                                        [maxlength]="
                                            this.selectedEnterpriseCountry?.nicRucLength !== null &&
                                            this.selectedEnterpriseCountry?.nicRucLength
                                                ? this.selectedEnterpriseCountry.nicRucLength
                                                : 20
                                        "
                                        [pattern]="validationOrganizationId"
                                    />
                                    <validation-messages
                                        [formCtrl]="organizationIdentificationInput"
                                    ></validation-messages>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label for="sector" class="gotham-rounded-medium mb-2">
                                            {{ l('EconomicActivity') }}
                                        </label>
                                        <div class="input-group">
                                            <select
                                                id="sector"
                                                class="form-select form-control"
                                                [(ngModel)]="selectedEnterpriseSectorId"
                                                name="sector"
                                                required
                                                [tooltipHtml]="l('TooltipSector')"
                                                placement="top"
                                            >
                                                <option disabled selected value>{{ l('Select_Option') }}</option>
                                                <option *ngFor="let sector of sectors" [value]="sector.id">
                                                    {{ sector.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label for="collaborator" class="gotham-rounded-medium mb-2">
                                            {{ l('NumberOfCollaborators') }}
                                        </label>
                                        <div class="input-group">
                                            <select
                                                id="collaborator"
                                                class="form-select form-control"
                                                [(ngModel)]="selectedEnterpriseCollaboratorId"
                                                name="collaborator"
                                                required
                                            >
                                                <option
                                                    *ngFor="let collaborator of collaborators"
                                                    [value]="collaborator.id"
                                                >
                                                    {{ collaborator.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="form-group">
                                        <label for="enterpriseTypeId" class="gotham-rounded-medium mb-2">
                                            {{ l('entities_enterprise_editor_information_enterpriseTypeId') }}
                                        </label>
                                        <div class="input-group">
                                            <select
                                                id="enterpriseTypeId"
                                                class="form-select form-control"
                                                [(ngModel)]="singleEnterprise.enterpriseTypeId"
                                                name="enterpriseTypeId"
                                                required
                                            >
                                                <option
                                                    *ngFor="let optionEnterpriseTypeId of optionsEnterpriseTypeId"
                                                    [value]="optionEnterpriseTypeId.id"
                                                >
                                                    {{ optionEnterpriseTypeId.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="OrganizationOperatesMoreThanOneCountry"
                                                type="checkbox"
                                                name="OrganizationOperatesMoreThanOneCountry"
                                                (change)="changeEnterpriseIsInternational($event)"
                                                [(ngModel)]="singleEnterprise.isInternational"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'OrganizationOperatesMoreOneCountry' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xl-6" *ngIf="singleEnterprise.isInternational">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="RegionalManagementExist"
                                                type="checkbox"
                                                (change)="changeEnterpriseRegionalManagementExist($event)"
                                                name="RegionalManagementExist"
                                                [(ngModel)]="singleEnterprise.hasInclusion"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'RegionalManagementExist' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="row mb-4"
                                *ngIf="singleEnterprise.isInternational && singleEnterprise.hasInclusion"
                            >
                                <div class="col-xl-6">
                                    <label class="form-label" for="RegionalManagementName">
                                        {{ 'RegionalManagementName' | localize }}
                                    </label>
                                    <input
                                        id="RegionalManagementName"
                                        #RegionalManagementNameInput="ngModel"
                                        type="text"
                                        name="RegionalManagementName"
                                        class="form-control"
                                        [(ngModel)]="singleEnterprise.inclusionRegionalManagerName"
                                        required
                                        maxlength="150"
                                        [pattern]="this.onlyAlphaSpace"
                                    />
                                    <validation-messages [formCtrl]="RegionalManagementNameInput"></validation-messages>
                                </div>

                                <div class="col-xl-6">
                                    <label class="form-label" for="RegionalManagementEmail">
                                        {{ 'RegionalManagementEmail' | localize }}
                                    </label>
                                    <input
                                        id="RegionalManagementEmail"
                                        #RegionalManagementEmailInput="ngModel"
                                        type="email"
                                        name="RegionalManagementEmail"
                                        class="form-control"
                                        [(ngModel)]="singleEnterprise.inclusionRegionalManagerEmail"
                                        required
                                        maxlength="150"
                                        email
                                    />
                                    <validation-messages
                                        [formCtrl]="RegionalManagementEmailInput"
                                    ></validation-messages>
                                </div>
                            </div>
                        </div>

                        <!-- Step Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success font-weight-bold"
                                [disabled]="!enterpriseForm.form.valid || saving"
                                (click)="stepChanged(myStepper.steps)"
                            >
                                {{ 'Continue' | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>

            <!-- Contact data -->
            <app-step
                [title]="stepperSetup.stepContactData.title"
                [stepControl]="stepperSetup.stepContactData.isValid"
                *ngIf="!stepperSetup.stepContactData.hidden"
            >
                <div class="content-step" *ngIf="showPersonDataForm">
                    <!-- Step Content -->
                    <form [formGroup]="personalForm">
                        <div class="modal-body">
                            <!-- Surveyed Person -->
                            <div class="row mb-5">
                                <h1 class="text-primary">{{ 'SurveyedPersonaData' | localize }}</h1>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <input-text
                                        [form]="personalForm"
                                        [name]="'surveyedName'"
                                        [title]="l('EnterpriseRegister_MainUserName')"
                                    ></input-text>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="surveyedEmail">
                                        {{ 'EmailAddress' | localize }}
                                    </label>
                                    <input
                                        type="email"
                                        [name]="'surveyedEmail'"
                                        class="form-control"
                                        [formControlName]="'surveyedEmail'"
                                        required
                                        maxlength="80"
                                        email
                                    />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <input-select
                                        [form]="personalForm"
                                        [name]="'surveyedPositionId'"
                                        [options]="personalPositions"
                                        [title]="l('PersonalPosition')"
                                        [placeholder]="l('Select_Option')"
                                    ></input-select>
                                </div>
                                <div class="col-xl-6 inputPhone">
                                    <ngx-intl-tel-input
                                        [enableAutoCountrySelect]="false"
                                        [enablePlaceholder]="true"
                                        [searchCountryFlag]="true"
                                        [selectFirstCountry]="false"
                                        [selectedCountryISO]="selectedEnterpriseCountryAb"
                                        [maxLength]="15"
                                        [phoneValidation]="true"
                                        name="surveyedPhone"
                                        formControlName="surveyedPhone"
                                        [onlyCountries]="onlyCountries"
                                    ></ngx-intl-tel-input>
                                    <div [hidden]="personalForm.valid || personalForm.pristine">
                                        <ul
                                            class="help-block text-danger"
                                            *ngIf="
                                                personalForm.controls['surveyedPhone'] &&
                                                personalForm.controls['surveyedPhone'].touched &&
                                                personalForm.controls['surveyedPhone'].errors
                                            "
                                        >
                                            <li
                                                [hidden]="
                                                    !personalForm.controls['surveyedPhone'].errors.validatePhoneNumber
                                                "
                                            >
                                                {{ 'InvalidPhoneNumberText' | localize }}
                                            </li>
                                            <li [hidden]="!personalForm.controls['surveyedPhone'].errors.required">
                                                {{ 'Required' | localize }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Human Resources -->
                            <div class="row mb-5">
                                <h1 class="text-primary">{{ 'ManagementHumanResourcesData' | localize }}</h1>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <input-text
                                        [form]="personalForm"
                                        [name]="'hrName'"
                                        [title]="l('EnterpriseRegister_HumanResourcesManagerName')"
                                    ></input-text>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="hrEmail">{{ 'EmailAddress' | localize }}</label>
                                    <input
                                        type="email"
                                        [name]="'hrEmail'"
                                        class="form-control"
                                        [formControlName]="'hrEmail'"
                                        required
                                        maxlength="80"
                                        email
                                    />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <input-select
                                        [form]="personalForm"
                                        [name]="'hrPositionId'"
                                        [options]="personalPositions"
                                        [title]="l('PersonalPosition')"
                                        [placeholder]="l('Select_Option')"
                                    ></input-select>
                                </div>
                                <div class="col-xl-6 inputPhone">
                                    <ngx-intl-tel-input
                                        [enableAutoCountrySelect]="false"
                                        [enablePlaceholder]="true"
                                        [searchCountryFlag]="true"
                                        [selectFirstCountry]="false"
                                        [selectedCountryISO]="selectedEnterpriseCountryAb"
                                        [maxLength]="15"
                                        [phoneValidation]="true"
                                        name="hrPhone"
                                        formControlName="hrPhone"
                                        [onlyCountries]="onlyCountries"
                                    ></ngx-intl-tel-input>
                                    <div [hidden]="personalForm.valid || personalForm.pristine">
                                        <ul
                                            class="help-block text-danger"
                                            *ngIf="
                                                personalForm.controls['hrPhone'] &&
                                                personalForm.controls['hrPhone'].touched &&
                                                personalForm.controls['hrPhone'].errors
                                            "
                                        >
                                            <li [hidden]="!personalForm.controls['hrPhone'].errors.validatePhoneNumber">
                                                {{ 'InvalidPhoneNumberText' | localize }}
                                            </li>
                                            <li [hidden]="!personalForm.controls['hrPhone'].errors.required">
                                                {{ 'Required' | localize }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- CEO -->
                            <div class="row mb-5">
                                <h1 class="text-primary">{{ 'CEOData' | localize }}</h1>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-6">
                                    <input-text
                                        [form]="personalForm"
                                        [name]="'ceoName'"
                                        [title]="l('EnterpriseRegister_CEOName')"
                                    ></input-text>
                                </div>
                                <div class="col-xl-6">
                                    <label class="form-label" for="ceoEmail">{{ 'EmailAddress' | localize }}</label>
                                    <input
                                        type="email"
                                        [name]="'ceoEmail'"
                                        class="form-control"
                                        [formControlName]="'ceoEmail'"
                                        required
                                        maxlength="80"
                                        email
                                    />
                                </div>
                            </div>
                        </div>

                        <!-- Step Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success"
                                [disabled]="!personalForm.valid || saving"
                                (click)="stepChanged(myStepper.steps)"
                            >
                                {{ 'Continue' | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>

            <!-- Finish Process -->
            <app-step
                [title]="stepperSetup.stepTermsAndConditions.title"
                [stepControl]="stepperSetup.stepTermsAndConditions.isValid"
                *ngIf="!stepperSetup.stepTermsAndConditions.hidden"
            >
                <div class="content-step">
                    <!-- Step Content -->
                    <form #finishForm="ngForm">
                        <div class="modal-body">
                            <div class="row mb-4">
                                <div class="col-xl-12">
                                    <div class="">
                                        <label
                                            class="form-check form-check-custom form-check-solid py-1"
                                            style="display: flex; gap: 10px"
                                        >
                                            <input
                                                id="Manifest"
                                                type="checkbox"
                                                name="Manifest"
                                                [(ngModel)]="termsConditionsAccepted"
                                                class="form-check-input"
                                            />
                                            <span>
                                                {{ 'OrganizationKnowsAndAccept' | localize }}
                                                <a
                                                    id="TermsAndConditions"
                                                    [href]="TermsAndConditions"
                                                    class="text-left"
                                                    target="_blank"
                                                >
                                                    {{ 'TermsAndConditions' | localize }}
                                                </a>
                                                {{ 'UseofPlatformAndThe' | localize }}
                                                <a
                                                    id="PolicyUseDataAndInformationClients"
                                                    target="_blank"
                                                    [href]="PolicyUseDataAndInformationClients"
                                                    class="text-left"
                                                >
                                                    {{ 'DataUsePolicyCustomerAndUsersInformation' | localize }}
                                                </a>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="PromoEmailAccepted"
                                                type="checkbox"
                                                name="PromoEmailAccepted"
                                                [(ngModel)]="receivePromoAccepted"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'PromoEmailAccepted' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4" *ngIf="!isOrganizationTypeGroup">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="EconomicGroup"
                                                type="checkbox"
                                                name="EconomicGroup"
                                                [(ngModel)]="isPartOfEconomicGroupAcepted"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsPartOfEconomicGroup' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12" *ngIf="isPartOfEconomicGroupAcepted">
                                <label class="form-label" for="EconomicGroupName">
                                    {{ 'EconomicGroupName' | localize }}
                                </label>
                                <input
                                    id="EconomicGroupName"
                                    #EconomicGroupNameInput="ngModel"
                                    type="text"
                                    name="EconomicGroupName"
                                    class="form-control"
                                    [(ngModel)]="this.economicGroupName"
                                    maxlength="150"
                                    required
                                    [pattern]="this.onlyAlphaSpace"
                                />
                                <validation-messages [formCtrl]="EconomicGroupNameInput"></validation-messages>
                            </div>
                            <div class="row mb-4" *ngIf="showTradeAsociationOptions && !isOrganizationTypeGroup">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="form-check form-check-custom form-check-solid py-1">
                                            <input
                                                id="PartOfTradeAssociation"
                                                type="checkbox"
                                                name="PartOfTradeAssociation"
                                                [(ngModel)]="isPartOfTradeAssociationAccepted"
                                                class="form-check-input"
                                            />
                                            <span class="form-check-label">
                                                {{ 'IsPartOfTradeAssociation' | localize }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-xl-12"
                                *ngIf="showTradeAsociationOptions && isPartOfTradeAssociationAccepted"
                            >
                                <div class="form-group">
                                    <div class="input-group">
                                        <select
                                            id="selectTradeAssociation"
                                            class="form-select form-control"
                                            [(ngModel)]="selectedTradeAssociationId"
                                            name="selectTradeAssociation"
                                            required
                                        >
                                            <option disabled selected value>{{ l('Select_Option') }}</option>
                                            <option *ngFor="let aso of tradeAssociations" [value]="aso.id">
                                                {{ aso.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Step 5 Actions -->
                        <div class="content-actions">
                            <button class="btn font-weight-bold" (click)="myStepper.previous()">
                                {{ 'Return' | localize }}
                            </button>
                            <button
                                class="btn btn-success"
                                [class.disabled]="
                                    !termsConditionsAccepted ||
                                    !finishForm.form.valid
                                "
                                (click)="createOrganization()"
                            >
                                {{ 'Finish' | localize }}
                            </button>
                        </div>
                    </form>
                </div>
            </app-step>
        </app-stepper>
    </div>
</div>
