<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Languages' | localize" [description]="'LanguagesHeaderInfo' | localize">
            <div role="actions">
                <button
                    *ngIf="('Pages.Administration.Languages.Create' | permission) && multiTenancySideIsHost"
                    (click)="createOrEditLanguageModal.show()"
                    class="btn btn-primary"
                >
                    <i class="fa fa-plus btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'CreateNewLanguage' | localize }}
                    </span>
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="row align-items-center mb-4">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input
                                            [(ngModel)]="filterText" (blur)="getLanguages()" (keyup)="resetFilter()"
                                            name="filterText"
                                            autoFocus
                                            class="form-control"
                                            placeholder="{{ 'SearchWithThreeDot' | localize }}"
                                            type="text"
                                        />
                                    <!--
                                    <button (click)="getLanguages()" class="btn btn-primary bg-customer" type="submit">
                                            <i class="icon-refresh"></i>
                                            {{ 'Refresh' | localize }}
                                    </button>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getLanguages()"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Languages.Edit',
                                                        'Pages.Administration.Languages.ChangeTexts',
                                                        'Pages.Administration.Languages.Delete'
                                                    ] | permissionAny
                                                )
                                            "
                                        >
                                            {{ 'Actions' | localize }}
                                        </th>
                                        <th>
                                            {{ 'Idiom' | localize }}
                                        </th>
                                        <th>
                                            {{ 'Code' | localize }}
                                        </th>
                                        <th *ngIf="appSession.tenantId ? true : false">{{ 'Default' | localize }} *</th>
                                        <th>
                                            {{ 'IsActive' | localize }}
                                        </th>
                                        <th>
                                            {{ 'DateCreatedOnTable' | localize }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px; text-align: center">
                                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                                <button
                                                    id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle bg-customer"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu"
                                                >
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ 'Actions' | localize }}
                                                </button>
                                                <ul
                                                    id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton"
                                                >
                                                    <li
                                                        *ngIf="
                                                            ('Pages.Administration.Languages.Edit' | permission) &&
                                                            record.tenantId === appSession.tenantId
                                                        "
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="createOrEditLanguageModal.show(record.id)"
                                                        >
                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            'Pages.Administration.Languages.ChangeTexts' | permission
                                                        "
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="changeTexts(record)"
                                                        >
                                                            {{ 'ChangeTexts' | localize }}
                                                        </a>
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            'Pages.Administration.Languages.ChangeDefaultLanguage'
                                                                | permission
                                                        "
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="setAsDefaultLanguage(record)"
                                                        >
                                                            {{ 'SetAsDefaultLanguage' | localize }}
                                                        </a>
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            ('Pages.Administration.Languages.Delete' | permission) &&
                                                            record.tenantId === appSession.tenantId
                                                        "
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteLanguage(record)"
                                                        >
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'Name' | localize }}</span>
                                            <span [ngClass]="{ 'text-bold': defaultLanguageName === record.name }">
                                                <i [ngClass]="record.icon" class="margin-right-5 d-inline-block"></i>
                                                {{ record.displayName }}
                                                <!-- <span *ngIf="defaultLanguageName === record.name">
                                                    ({{ 'Default' | localize }})
                                                </span> -->
                                            </span>
                                        </td><!--  -->
                                        <td>
                                            <span class="p-column-title">{{ 'Code' | localize }}</span>
                                            {{ record.name }}
                                        </td>
                                        <td *ngIf="appSession.tenantId ? true : false">
                                            <span class="p-column-title">{{ 'Default' | localize }}</span>
                                            <span
                                                class="badge badge-success"
                                                *ngIf="record.name === defaultLanguageName"
                                            >
                                                {{ 'Yes' | localize }}
                                            </span>
                                            <span
                                                class="badge badge-dark"
                                                *ngIf="record.name !== defaultLanguageName"
                                            >
                                                {{ 'No' | localize }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'IsEnabled' | localize }}</span>
                                            <span class="badge badge-success" *ngIf="!record.isDisabled">
                                                {{ 'Yes' | localize }}
                                            </span>
                                            <span class="badge badge-dark" *ngIf="record.isDisabled">
                                                {{ 'No' | localize }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'CreationTime' | localize }}</span>
                                            {{ record.creationTime | luxonFormat: 'F' }}
                                            {{ record.creationTime | luxonFormat: 'a' | titlecase}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            
                            <!--<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="ui-table-footer">
                                {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
                            </div>-->
                        </div>
                        <!--<Primeng-TurboTable-End>-->

                        <!--<p class="col-12 mt-2" *ngIf="appSession.tenantId">
                            * {{ 'CanNotEditOrDeleteDefaultLanguages' | localize }}
                        </p>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditLanguageModal #createOrEditLanguageModal (modalSave)="getLanguages()"></createOrEditLanguageModal>
    </div>
</div>
