<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="'LanguageTexts' | localize"
            [description]="'LanguageTextsHeaderInfo' | localize"
        ></sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form autocomplete="new-password" class="form" id="TextsFilterForm">
                        <div>
                            <div class="row align-items-center m--margin-bottom-10">
                                <div class="col-sm-6 col-md-6">
                                    <div class="mb-5">
                                        <label class="form-label" for="TextBaseLanguageSelectionCombobox">
                                            {{ 'BaseLanguage' | localize }}
                                        </label>
                                        <select
                                            #baseLanguageNameCombobox
                                            name="baseLanguageName"
                                            class="form-select form-control bs-select"
                                            [(ngModel)]="baseLanguageName"
                                        >
                                            <option
                                                *ngFor="let language of languages"
                                                [value]="language.name"
                                                [attr.data-icon]="language.icon"
                                            >
                                                {{ language.displayName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="mb-5">
                                        <label class="form-label" for="TextTargetLanguageSelectionCombobox">
                                            {{ 'TargetLanguage' | localize }}
                                        </label>
                                        <select (change)="applyFilters($event)"
                                            #targetLanguageNameCombobox
                                            name="targetLanguageName"
                                            class="form-select form-control bs-select"
                                            [(ngModel)]="targetLanguageName"
                                        >
                                            <option
                                                *ngFor="let language of languages"
                                                [value]="language.name"
                                                [attr.data-icon]="language.icon"
                                            >
                                                {{ language.displayName }}
                                            </option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row">
                                <div class="d-flex justify-content-end">
                                        <div class="container-button mb-1 mt-3">
                                            <button (click)="downloadFile()" class="btn btn-primary btn-sm bg-customer" title="Paso 1">{{ 'DownloadJSON' | localize }}</button>
                                            <button #buttonFile (click)="selectFile()" class="btn btn-primary btn-sm bg-customer" title="Paso 2">{{ 'SelectJSON' | localize }} </button>
                                            <button (click)="uploadFile()" class="btn btn-primary btn-sm bg-customer" title="Paso 3">{{ 'ProcessJSON' | localize }}</button>
                                            <input #inputFile (change)="processJSON($event)" class="form-control" type="file" id="formFile" style="visibility: hidden;">
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input
                                            [(ngModel)]="filterText" (keyup)="getLanguageTexts()"
                                            (blur)="getLanguageTexts()"
                                            name="filterText"
                                            autoFocus
                                            class="form-control"
                                            placeholder="{{ 'SearchWithThreeDot' | localize }}"
                                            type="text"
                                        />
                                    <!--
                                    <button (click)="getLanguages()" class="btn btn-primary bg-customer" type="submit">
                                            <i class="icon-refresh"></i>
                                            {{ 'Refresh' | localize }}
                                    </button>
                                    -->
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                sortMode="multiple"
                                (onLazyLoad)="getLanguageTexts($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="key">
                                            {{ 'Key' | localize }}
                                            <p-sortIcon field="key"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="baseValue">
                                            {{ 'BaseValue' | localize }}
                                            <p-sortIcon field="baseValue"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="targetValue">
                                            {{ 'TargetValue' | localize }}
                                            <p-sortIcon field="targetValue"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px">{{ 'Edit' | localize }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td>
                                            <span class="p-column-title">{{ 'Key' | localize }}</span>
                                            <span title="{{ record.key }}">{{ truncateString(record.key) }}</span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'BaseValue' | localize }}</span>
                                            <span title="{{ record.baseValue }}">
                                                {{ truncateString(record.baseValue) }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'TargetValue' | localize }}</span>
                                            <span title="{{ record.targetValue }}">
                                                {{ truncateString(record.targetValue) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                                                (click)="
                                                    editTextModal.show(
                                                        baseLanguageName,
                                                        targetLanguageName,
                                                        sourceName,
                                                        record.key,
                                                        record.baseValue,
                                                        record.targetValue
                                                    )
                                                "
                                                title="{{ 'Edit' | localize }}"
                                            >
                                                <i class="la la-edit" [attr.aria-label]="l('Edit')"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getLanguageTexts($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <editTextModal #editTextModal (modalSave)="refreshTextValueFromModal()"></editTextModal>
    </div>
</div>
