<div class="alert alert-success question">
    <div class="question-box">
        <div class="left">
            <label [title]="questionsInput?.tooltip">{{questionsInput.question}}</label>
            <i class="bi bi-exclamation icon-exclamation rounded" [title]="questionsInput.tooltip"></i>
            <span class="question-state-changed">Modificada</span>
        </div>
        <div class="rigth">
            <i class="bi bi-check color-success"></i>
        </div>  
    </div>
</div>
<div class="mb-10">
    <label for="EditEdition_TRUE" class="form-check form-check-custom form-check-solid me-5">
        <input  [class.is-invalid]=""
            formControlName="radioRequired"
            class="form-check-input"
            id="EditEdition_TRUE"
            name="radioRequired"
            [value]="true"
            type="radio"/>
            <span class="form-check-label">{{questionsInput.responses[0]}}</span>
    </label>

    <label for="EditEdition_FALSE" class="form-check form-check-custom form-check-solid">
        <input [class.is-invalid]=""
            formControlName="radioRequired"
            class="form-check-input"
            id="EditEdition_FALSE"
            name="radioRequired"
            [value]="false"
            type="radio"/>
            <span class="form-check-label">{{questionsInput.responses[1]}}</span>
    </label>
</div>