<div [formGroup]="form">
    <div>
        <div class="form-group">
            <div class="input-group">
                <input
                    type="checkbox"
                    [formControlName]="name"
                    [name]="name"
                    class="form-check-input"
                    [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
                />
                <span class="form-check-label gotham-rounded-medium ms-3 input-label-width">
                    {{ title || '' }}
                </span>
            </div>
        </div>
    </div>
</div>
