<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('users_aequeales_title')">
            <div role="actions">
                <!-- <button class="btn btn-secondary blue"  (click)="closeOnClick()" id="companyCloseBtn"  [buttonBusy]="loading">
                    {{ l('Close') }}
                </button> -->
                <button class="btn btn-customer" (click)="addOnClick()">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('users_aequeales_add_user') }}
                </button>
                <button class="btn btn-customer-light" (click)="filterOnClick()">
                    <i class="fa fa-filter bg-customer-light"></i>
                    {{ l('users_aequeales_filter_user') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <dynamic-table
                        [configColumns]="columns"
                        [filtersByColumns]="filtersByColumns"
                        [reload]="reload$()"
                        [executeFunction]="loadDataTable"
                        (editEvent)="editOnClick($event)"
                        (deleteEvent)="deleteOnClick($event)"
                        [showEdit]="true"
                        [showDelete]="true"
                        [filterPlaceholder]="l('users_aequeales_editor_searchrol')"
                    ></dynamic-table>
                </div>
            </div>
        </div>

        <users-aequales-upsert
            #entitiesUsersAequalesUpsert
            (modalSave)="getInformation($event)"
        ></users-aequales-upsert>
    </div>
</div>
