.inline {
    max-width: 400px;
    margin: auto;
}
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

.dropzone {
    color: #1a9ef7 !important;
    font-weight: 550 !important;
    background-color: #edf7fe !important;
    border-color: #1a9ef7 !important;
    border-width: medium !important;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.tooltip-inner {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    text-align: left;
}

.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
    border-top-color: black;
}
