<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Form template' | localize" [description]="'Multipurpose source' | localize"></sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form [formGroup]="formTemplate" class="form">
                        <h5>ToolTip</h5>
                        <div class="row align-items-center mb-6 mt-6">
                            <div class="col-xl-6">
                                <button
                                    id="gfg"
                                    type="button"
                                    class="btn btn-success"
                                    tooltip="Tooltip basic."
                                >
                                   View ToolTip
                                </button>
                            </div>
                            <div class="col-xl-6 d-flex justify-content-end align-items-center">
                                <ng-template #template>
                                    <strong class="mb-1">Some complex HTML</strong>
                                    <ul>
                                        <li>Can't be a</li>
                                        <li>Can't be y</li>
                                        <li>Can't be z</li>
                                    </ul>
                                </ng-template>
                                <span class="text-right">Tooltip with template</span>
                                <input class="ms-2" type="text" [tooltip]="template" triggers="focus" placement="right" />
                            </div>
                        </div>
                        <div>
                            <h5>Text input</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid-noicon]="
                                                    formTemplate.get('required').touched &&
                                                    formTemplate.get('required').invalid
                                                "
                                                formControlName="required"
                                                class="form-control m-input"
                                                [placeholder]="'Required'"
                                                type="text"
                                            />
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <!--   <span class="p-input-icon-right">
                                                <i class="pi pi-spin pi-spinner"></i>
                                                <input class="form-control m-input" type="text" pInputText />
                                            </span>    -->
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('email').touched &&
                                                    formTemplate.get('email').invalid
                                                "
                                                formControlName="email"
                                                class="form-control m-input"
                                                [placeholder]="'Email'"
                                                type="text"
                                            />
                                            <ng-container
                                                *ngIf="
                                                    formTemplate.get('email').touched &&
                                                    formTemplate.get('email').invalid
                                                "
                                            >
                                                <span class="fa fa-info-circle errspan"></span>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('password').touched &&
                                                    formTemplate.get('password').invalid
                                                "
                                                formControlName="password"
                                                class="form-control m-input"
                                                [placeholder]="'Strong password'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('minLength').touched &&
                                                    formTemplate.get('minLength').invalid
                                                "
                                                formControlName="minLength"
                                                class="form-control m-input"
                                                [placeholder]="'Minlength (5)'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('alphabetOnly').touched &&
                                                    formTemplate.get('alphabetOnly').invalid
                                                "
                                                formControlName="alphabetOnly"
                                                class="form-control m-input"
                                                [placeholder]="'Alphabet only'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('numberOnly').touched &&
                                                    formTemplate.get('numberOnly').invalid
                                                "
                                                formControlName="numberOnly"
                                                class="form-control m-input"
                                                [placeholder]="'Number only'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('alphaNumericOnly').touched &&
                                                    formTemplate.get('alphaNumericOnly').invalid
                                                "
                                                formControlName="alphaNumericOnly"
                                                class="form-control m-input"
                                                [placeholder]="'Alphanumeric only'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('floatNumber').touched &&
                                                    formTemplate.get('floatNumber').invalid
                                                "
                                                formControlName="floatNumber"
                                                class="form-control m-input"
                                                [placeholder]="'Float number'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('blankSpaces').touched &&
                                                    formTemplate.get('blankSpaces').invalid
                                                "
                                                formControlName="blankSpaces"
                                                class="form-control m-input"
                                                [placeholder]="'Only blank spaces forbidden'"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Text area</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label class="col-md-12 form-label">Required</label>
                                        <textarea
                                            formControlName="textAreaRequired"
                                            [class.is-invalid]="
                                                formTemplate.get('textAreaRequired').touched &&
                                                formTemplate.get('textAreaRequired').invalid
                                            "
                                            class="form-control edited"
                                            rows="4"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <h5>Date picker</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label for="SampleDatePicker" class="col-md-12 form-label">
                                            Required choose date
                                        </label>
                                        <div class="col-lg-10 col-md-9 col-sm-8">
                                            <i class="fa fa-angle-down"></i>
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('chooseDate').touched &&
                                                    formTemplate.get('chooseDate').invalid
                                                "
                                                formControlName="chooseDate"
                                                id="SampleDatePicker"
                                                type="text"
                                                #SampleDatePicker
                                                name="chooseDate"
                                                class="form-control"
                                                bsDatepicker
                                                datePickerLuxonModifier
                                                [bsConfig]="{ adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label for="SampleDatePicker" class="col-md-12 form-label">
                                            No date before today
                                        </label>
                                        <div class="col-lg-10 col-md-9 col-sm-8">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('overToday').touched &&
                                                    formTemplate.get('overToday').invalid
                                                "
                                                formControlName="overToday"
                                                id="SampleDatePicker"
                                                type="text"
                                                #SampleDatePicker
                                                name="overToday"
                                                class="form-control"
                                                bsDatepicker
                                                datePickerLuxonModifier
                                                [bsConfig]="{ adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label for="SampleDatePicker" class="col-md-12 form-label">
                                            Over 18 years old
                                        </label>
                                        <div class="col-lg-10 col-md-9 col-sm-8">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('over18yo').touched &&
                                                    formTemplate.get('over18yo').invalid
                                                "
                                                formControlName="over18yo"
                                                id="SampleDatePicker"
                                                type="text"
                                                #SampleDatePicker
                                                name="over18yo"
                                                class="form-control"
                                                bsDatepicker
                                                datePickerLuxonModifier
                                                [bsConfig]="{ adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label for="SampleDatePicker" class="col-md-12 form-label">Current year</label>
                                        <div class="col-lg-10 col-md-9 col-sm-8">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('currentYear').touched &&
                                                    formTemplate.get('currentYear').invalid
                                                "
                                                formControlName="currentYear"
                                                id="SampleDatePicker"
                                                type="text"
                                                #SampleDatePicker
                                                name="over18yo"
                                                class="form-control"
                                                bsDatepicker
                                                datePickerLuxonModifier
                                                [bsConfig]="{ adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label for="SampleDatePicker" class="col-md-12 form-label">Range date</label>
                                        <div class="col-lg-10 col-md-9 col-sm-8">
                                            <input
                                                class="form-control"
                                                id="StartEndRange"
                                                name="StartEndRange"
                                                #drp="bsDaterangepicker"
                                                readonly="readonly"
                                                bsDaterangepicker
                                                dateRangePickerLuxonModifier
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Select</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label class="col-md-12 form-label">Optional</label>
                                        <select class="form-select form-control">
                                            <option disabled selected value>-- select an option --</option>
                                            <option *ngFor="let inputType of allIputTypes" [value]="inputType">
                                                {{ inputType }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label class="col-md-12 form-label">Required</label>
                                        <select
                                            class="form-select form-control"
                                            formControlName="selectRequired"
                                            [class.is-invalid]="
                                                formTemplate.get('selectRequired').touched &&
                                                formTemplate.get('selectRequired').invalid
                                            "
                                        >
                                            <option disabled selected value>-- select an option --</option>
                                            <option *ngFor="let inputType of allIputTypes" [value]="inputType">
                                                {{ inputType }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <h5>Radio button</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <label class="col-md-12 form-label">Required select at least one</label>
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="d-flex mb-5">
                                            <label
                                                for="EditEdition_IsFree"
                                                class="form-check form-check-custom form-check-solid me-5"
                                            >
                                                <input
                                                    [class.is-invalid]="formTemplate.get('radioRequired').invalid"
                                                    formControlName="radioRequired"
                                                    class="form-check-input"
                                                    id="EditEdition_IsFree"
                                                    name="radioRequired"
                                                    [value]="true"
                                                    type="radio"
                                                />
                                                <span class="form-check-label">First</span>
                                            </label>
                                            <label
                                                for="EditEdition_IsPaid"
                                                class="form-check form-check-custom form-check-solid"
                                            >
                                                <input
                                                    [class.is-invalid]="formTemplate.get('radioRequired').invalid"
                                                    formControlName="radioRequired"
                                                    class="form-check-input"
                                                    id="EditEdition_IsPaid"
                                                    name="radioRequired"
                                                    [value]="false"
                                                    type="radio"
                                                />
                                                <span class="form-check-label">Second</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form [formGroup]="form" class="form">
                        <div>
                            <h5>Checkbox</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <label class="col-md-12 form-label">
                                                Required select at least two of those
                                            </label>
                                            <div class="mb-5 m-form__group align-items-center">
                                                <input
                                                    type="checkbox"
                                                    formControlName="checkbox1"
                                                    name="checkbox1"
                                                    class="form-check-input"
                                                    value="true"
                                                    [class.is-invalid]="form.invalid || form.untouched"
                                                />
                                                <span class="form-check-label">Choose me</span>
                                                <input
                                                    type="checkbox"
                                                    formControlName="checkbox2"
                                                    name="checkbox2"
                                                    class="form-check-input"
                                                    value="true"
                                                    [class.is-invalid]="form.invalid || form.untouched"
                                                />
                                                <span class="form-check-label">Choose me too</span>
                                                <input
                                                    type="checkbox"
                                                    formControlName="checkbox3"
                                                    name="checkbox3"
                                                    class="form-check-input"
                                                    value="true"
                                                    [class.is-invalid]="form.invalid || form.untouched"
                                                />
                                                <span class="form-check-label">Not me</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="formDates" class="form">
                        <div>
                            <h5>Range date with end day required</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <label for="SampleDatePicker" class="col-md-12 form-label">
                                                Start date
                                            </label>
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <input
                                                    formControlName="dateTo"
                                                    id="SampleDatePicker"
                                                    type="text"
                                                    #SampleDatePicker
                                                    name="dateTo"
                                                    class="form-control"
                                                    bsDatepicker
                                                    datePickerLuxonModifier
                                                    [bsConfig]="{ adaptivePosition: true }"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <label for="SampleDatePicker" class="col-md-12 form-label">EndDate</label>
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <input
                                                    [class.is-invalid]="formDates.invalid && formDates.touched"
                                                    formControlName="dateFrom"
                                                    id="SampleDatePicker"
                                                    type="text"
                                                    #SampleDatePicker
                                                    name="dateFrom"
                                                    class="form-control"
                                                    bsDatepicker
                                                    datePickerLuxonModifier
                                                    [bsConfig]="{ adaptivePosition: true }"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div>
                            <h5>Simple upload file</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input
                                                    type="file"
                                                    class="custom-file-input"
                                                    id="uploadCustomCSSInput"
                                                    ng2FileSelect
                                                    [uploader]="uploadFile"
                                                    (change)="onUploadInputChange($event.target.files)"
                                                />
                                                <label
                                                    class="custom-file-label"
                                                    #uploadCustomCSSInputLabel
                                                    for="uploadCustomCSSInput"
                                                >
                                                    {{ 'ChooseAFile' | localize }}
                                                </label>
                                            </div>
                                            <span class="form-text text-muted col-lg-12">
                                                Upload a file with a limit of xMB
                                            </span>
                                        </div>

                                        <button class="btn btn-primary" type="button" (click)="uploadCustomCss()">
                                            {{ 'Upload' | localize }}
                                        </button>
                                        <button class="btn btn-default" type="button" (click)="clearCustomCss()">
                                            {{ 'Clear' | localize }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <h5>Drop image</h5>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-5">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label>Cargue su archivo soltandolo aquí</label>
                                        <ngx-dropzone (change)="onSelect($event)" class="dropzone">
                                            <ngx-dropzone-label class="font-weight-bolder">
                                                <div>
                                                    <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                                                </div>
                                                Arrastra tu archivo aquí
                                            </ngx-dropzone-label>
                                            <ngx-dropzone-preview
                                                *ngFor="let f of files"
                                                [removable]="true"
                                                (removed)="onRemove(f)"
                                            >
                                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                            </ngx-dropzone-preview>
                                        </ngx-dropzone>
                                        <label>Tipos de formatos permitidos: NA</label>
                                        <label>Límite del tamaño del archivo y resolucion: NA</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
