<div [@routerTransition]>
  <youtube-player [videoId]="videoId" [suggestedQuality]="suggestedQuality" [height]="height" [width]="width"
    [startSeconds]="startSeconds" [endSeconds]="endSeconds">
  </youtube-player>
</div>