<div
    id="chat_is_connecting_icon"
    class="d-flex align-items-center"
    *ngIf="(isHost || ('App.ChatFeature' | checkFeature)) && !chatConnected"
>
    <button [class]="customStyle">
        <img
            *ngIf="!chatConnected"
            src="./assets/common/images/loading.gif"
            style="width: 23px"
            tooltip="{{ 'ChatIsConnecting' | localize }}"
            placement="left"
        />
    </button>
</div>
<div
    id="kt_drawer_chat_toggle"
    class="d-flex align-items-center"
    *ngIf="(isHost || ('App.ChatFeature' | checkFeature)) && chatConnected"
>
    <button [class]="customStyle" id="chatIconUnRead" class="unread-notification">
        <!-- <i [class]="iconStyle"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="Group_29003" data-name="Group 29003" transform="translate(-1169 -20)">
              <path id="regular_comment-dots" data-name="regular comment-dots" d="M5.079,38.286a1.143,1.143,0,1,0,1.143,1.143A1.142,1.142,0,0,0,5.079,38.286Zm4,0a1.143,1.143,0,1,0,1.143,1.143A1.142,1.142,0,0,0,9.079,38.286Zm4,0a1.143,1.143,0,1,0,1.143,1.143A1.142,1.142,0,0,0,13.079,38.286ZM9.079,32c-5.05,0-9.143,3.325-9.143,7.429a6.565,6.565,0,0,0,1.889,4.511A9.063,9.063,0,0,1,.168,46.554.857.857,0,0,0,.793,48a8.666,8.666,0,0,0,4.968-1.654,11.03,11.03,0,0,0,3.318.511c5.05,0,9.143-3.325,9.143-7.429S14.129,32,9.079,32Zm0,13.143a9.281,9.281,0,0,1-2.8-.432l-.811-.257-.7.493a7.68,7.68,0,0,1-2.054,1.036,8.958,8.958,0,0,0,.711-1.436l.379-1-.736-.779A4.912,4.912,0,0,1,1.65,39.429c0-3.15,3.332-5.714,7.429-5.714s7.429,2.564,7.429,5.714S13.175,45.143,9.079,45.143Z" transform="translate(1171.778 -8)" fill="#1e1e2d" opacity="0.32"/>
              <rect id="Rectangle_17868" data-name="Rectangle 17868" width="24" height="24" transform="translate(1169 20)" fill="none"/>
            </g>
          </svg>
        <span
            *ngIf="unreadChatMessageCount"
            class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge badge-circle badge-warning
                unread-chat-message-count
            "
        >
            {{ unreadChatMessageCount }}
        </span>
    </button>
</div>
