<div
    appBsModal
    #upsertElementModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="upsertElementModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Editar Pregunta</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="form">
                    <div>
                        <span class="gotham-rounded-medium">{{ l('Title') }}</span>
                        <div class="row align-items-center mb-2">
                            <div class="col-xl-12">
                                <div class="m-form__group align-items-center">
                                    <div class="input-group">
                                        <input
                                            formControlName="title"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="gotham-rounded-medium">{{ l('Description') }}</span>
                        <div class="row align-items-center mb-2">
                            <div class="col-xl-12">
                                <div class="m-form__group align-items-center">
                                    <div class="input-group">
                                        <input
                                            formControlName="description"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <app-dynamic-select-table
                        [configColumns]="columns"
                        [filterPlaceholder]="'Search...'"
                        [executeFunction]="loadQuestionsData"
                        (isAddItemEvent)="onSelectedItemClose($event)"
                        (itemSelectedEvent)="onSelectedItem($event)"

                    ></app-dynamic-select-table>
                </div>
            </div>
        </div>
    </div>
</div>

