<div class="d-flex flex-column mt-10 mb-5">
    <h1 class="text-center">Demo Implementation Stepper component</h1>
    <app-stepper #myStepper>
        <app-step [title]="stepperSetup.stepPokemon.title" [stepControl]="stepperSetup.stepPokemon.isValid">
            <div class="content-step">
                <app-user-data (isValid)="stepperSetup.stepPokemon.isValid = $event"></app-user-data>
                <div class="content-actions">
                    <button
                        class="btn btn-success"
                        [class.disabled]="!stepperSetup.stepPokemon.isValid"
                        (click)="myStepper.next()"
                    >
                        Next
                    </button>
                </div>
            </div>
        </app-step>
        <app-step [title]="stepperSetup.stepInput.title" [stepControl]="stepperSetup.stepInput.isValid">
            <div class="content-step">
                <app-user-form (isValid)="stepperSetup.stepInput.isValid = $event"></app-user-form>
                <div class="content-actions">
                    <button class="btn" (click)="myStepper.previous()">Back</button>
                    <button
                        class="btn btn-success"
                        [class.disabled]="!stepperSetup.stepInput.isValid"
                        (click)="myStepper.next()"
                    >
                        Next
                    </button>
                </div>
            </div>
        </app-step>
        <app-step [title]="stepperSetup.stepFinish.title">
            <div class="content-step">
                <img
                    width="500"
                    src="https://i.kym-cdn.com/entries/icons/original/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.png"
                    alt=""
                />
                <div class="content-actions">
                    <button class="btn" (click)="myStepper.previous()">Back</button>
                    <button class="btn btn-success" (click)="myStepper.next()">Finish</button>
                </div>
            </div>
        </app-step>
    </app-stepper>
</div>
