.btn-precaution {
    background-color: var(--color-precaution-btn) !important;
    color: black !important;
    font-weight: 700 !important;
}

.btn-precaution:hover {
    background-color: var(--color-precaution-btn-active) !important;
    color: black !important;
}

button.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
