<button class="btn btn-precaution" (click)="dynamicModal.show()">Open Modal</button>

<div
    appBsModal
    #dynamicModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role=""
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button
                        type="button"
                        class="btn-close"
                        [attr.aria-label]="l('Close')"
                        (click)="dynamicModal.hide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <modal-header
                        [modalHeaderImage]="_ModalHeaderImage"
                        [modalHeaderTitle]="_ModalHeaderTitle"
                    ></modal-header>
                </div>
                <div class="modal-body">
                    <modal-body
                        [modalBodyTitle]="_ModalBodyTitle"
                        [modalBodyDescription]="_ModalBodyDescription"
                    ></modal-body>
                </div>
                <div class="modal-footer">
                    <modal-footer [modalFooterButtoms]="_ModalFooterButtoms"></modal-footer>
                </div>
            </form>
        </div>
    </div>
</div>
