<div [formGroup]="form">
    <div class="container-fluid p-0">
        <label class="gotham-rounded-medium mb-2">{{ title || l('PhoneNumber') }}</label>
        <div class="row">
            <div class="col">
                <ngx-intl-tel-input
                    [class.is-invalid]="form.controls[controlName].touched && form.controls[controlName].invalid"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="country"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    name="controlName"
                    [formControlName]="controlName"
                    [onlyCountries]="onlyCountries"
                ></ngx-intl-tel-input>
            </div>
        </div>
    </div>
    <!-- <label class="d-block gotham-rounded-medium mb-2">{{ title || l('DragIconGuide') }}</label>
    <div class="input-group">
        <ngx-dropzone (change)="onSelectFile($event)" class="dropzone w-100">
            <ngx-dropzone-label class="font-weight-bolder">
                <div>
                    <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                </div>
                {{ l('DragYourFileHere') }}
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemoveFile(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
    <label class="text-secondary gotham-rounded-medium">{{ l('FormatTypesAllowed') }}</label>
    <br /> -->
</div>
