<div [formGroup]="form">
    <div class="form-group">
        <div class="input-group">
            <label class="form-check form-check-custom form-check-solid form-switch">
                <input
                    type="checkbox"
                    class="form-check-input"
                    [formControlName]="name"
                    [name]="name"
                    [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
                />
                <span class="form-check-label gotham-rounded-medium ms-2">
                    {{ title || '' }}
                </span>
            </label>
        </div>
    </div>
</div>
