.blocked-content {
    height: 250px;
    width: 500px;
    position: absolute;
    cursor: pointer;
}

.container-single-video {
    width: 500px;
    display: flex;
}
.w-standar-video {
    width: 750px;
}

.opened-bg {
        background-color: #4e3252;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
}

.content-opened {
    margin: calc(50vh - 280px) 0px 0px calc(50% - 325px);
    overflow: hidden;
}
.opened {
    border-radius: 6%;
    overflow: hidden;
    width: 750px;
}