<div [@routerTransition]>
    <div [ngClass]="{'opened-bg':optionOpened != ''}">
        <div [ngClass]="{'content-opened':optionOpened != ''}">
            <div class="text-center w-standar-video" *ngIf="optionOpened != ''">
                <button class="btn btn-primary mb-1" (click)="close()">close</button>
            </div>
    
            <div class="container-single-video" *ngIf="optionOpened == '' || optionOpened == 'youtube'" (click)="open('youtube')"
                [ngClass]="{'opened':optionOpened == 'youtube'}">
                <video-youtube videoId="GYAB4Td62zI" suggestedQuality="highres" [height]="height" [width]="width"
                    [startSeconds]="4" [endSeconds]="300" disables>
                </video-youtube>
                <div [ngClass]="{'blocked-content':optionOpened == ''}">
    
                </div>
            </div>
            <div class="container-single-video" *ngIf="optionOpened == '' || optionOpened == 'file'" [ngClass]="{'opened':optionOpened == 'file'}" (click)="open('file')">
                <video-file [src]="'../assets/common/test-video/loading.gif'" [height]="height" [width]="width" (close)="close()">
                </video-file>
                <div [ngClass]="{'blocked-content':optionOpened == ''}" >
    
                </div>
            </div>
        </div>
    </div>
</div>