.content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.content-form-labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-input {
    gap: 6px;
    display: flex;
    flex-direction: column;
}