<div class="content-form">
    <div class="content-form-labels">
        <h1 class="text-center text-primary">Enter your information</h1>
        <span class="text-center">(It only validates that it is not empty)</span>
        <div class="content-input">
            <label for="name">Name</label>
            <input
                class="form-control"
                type="text"
                name="name"
                required
                maxlength="256"
                text
                [(ngModel)]="nameP"
                (input)="checking()"
            />
        </div>
    </div>
</div>
