<div [formGroup]="form">
    <div class="form-group">
        <label class="gotham-rounded-medium mb-2 mt-1">{{ title || '' }}</label>
        <div class="input-group">
            <input
                [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
                [formControlName]="name"
                [name]="name"
                [maxlength]="maxlength"
                [placeholder]="placeholder || ''"
                class="form-control m-input"
                type="text"
            />
        </div>
    </div>
</div>
