<div [formGroup]="form">
    <div class="contaner-fluid p-o mt-5">
        <div class="row">
            <div class="col-6">{{ l('entities_enterprise_editor_users_title') }}</div>
            <div class="col-6 text-end">
                <button class="btn btn-customer" (click)="addOnClick()">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('entities_enterprise_editor_users_add') }}
                </button>
            </div>
        </div>
    </div>
    <dynamic-table
        [configColumns]="columns"
        [executeFunction]="loadDataTable"
        (editEvent)="editOnClick($event)"
        (deleteEvent)="deleteOnClick($event)"
        [showEdit]="true"
        [showDelete]="true"
        [hideLoading]="true"
        [showFilter]="false"
    ></dynamic-table>
</div>
<modal-select-users
    #ModalSelectUsersComponent
    (returnItemSelectedEvent)="onSelectedItem($event)"
    (returnAllItemsSelectedEvent)="onSelectedAllItems($event)"
    (createUser)="createUser()"
    [selectedProducts]="selectedIds"
></modal-select-users>
<createOrEditUserModal #createOrEditUserModal (modalSave)="loadData($event)"></createOrEditUserModal>
