<div [formGroup]="form">
    <div class="contaner-fluid p-o mt-5">
        <div class="row">
            <div class="col-6">{{ l('HistoricalPlans') }}</div>
            <div class="col-6 text-end">
                <button class="btn btn-customer">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('Plan') }}
                </button>
            </div>
        </div>
    </div>
    <dynamic-table
        [configColumns]="columns"
        [executeFunction]="loadDataTable"
        (editEvent)="editOnClick($event)"
        (deleteEvent)="deleteOnClick($event)"
        [showEdit]="true"
        [showDelete]="true"
    ></dynamic-table>
</div>
