<div class="no-results-div ">
    <img src="assets/common/images/app-logo-on-light.png" alt="logo-aequales" class="img-responsive">

    <h3 class="text-center mt-4">
        <i class="fa fa-exclamation-triangle"></i> {{'PageUnderConstruction'|localize}}
    </h3>
</div>

