<div [@routerTransition]>
    <div *ngIf="form" class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('measuringtools_categories_editor_title')" [breadcrumbs]="breadcrumbs">
            <div role="actions" class="">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('measuringtools_categories_editor_label_btn_cancel') }}
                </button>
                <button class="btn btn-primary btn-customer" [disabled]="form.pristine" (click)="saveOnClick()">
                    {{ l('measuringtools_categories_editor_label_btn_save') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form *ngIf="form" [formGroup]="form" (submit)="onFormSubmit($event, form)">
                            <div class="form-body">
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-6 mt-4">
                                        <input-text
                                            [form]="form"
                                            [name]="'name'"
                                            [title]="l('measuringtools_categories_editor_name')"
                                        ></input-text>
                                    </div>
                                    <div class="col-12 col-sm-6 mt-4">
                                        <input-select
                                            [form]="form"
                                            [name]="'questionCategoryTypeId'"
                                            [options]="optionsTypeCategory"
                                            [title]="l('measuringtools_categories_editor_type')"
                                        ></input-select>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input-textarea
                                            [form]="form"
                                            [name]="'description'"
                                            [title]="l('measuringtools_categories_editor_description')"
                                        ></input-textarea>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input-switch
                                            [form]="form"
                                            [name]="'isActive'"
                                            [title]="l('measuringtools_categories_editor_isactive')"
                                        ></input-switch>
                                    </div>
                                    <div class="col-5 mt-5">
                                        <div class="form-group">
                                            <label class="mb-2">{{ l('measuringtools_categories_editor_icon') }}</label>
                                            <input-drag-file
                                                [form]="form"
                                                [name]="'icon'"
                                                [title]="l('measuringtools_categories_editor_iconguide')"
                                            ></input-drag-file>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="showQuestionsAssociated()" class="card card-custom gutter-b" style="margin-top: 2rem">
                <div class="card-body">
                    <div class="col-lg-12">
                        <label class="col-md-12 form-label">
                            >{{ l('measuringtools_categories_editor_title_question') }}
                        </label>
                    </div>
                    <div class="row mb-2" style="padding-top: 1rem">
                        <div class="col-lg-12">
                            <dynamic-table
                                [showFilter]="false"
                                [configColumns]="columns"
                                [executeFunction]="loadDataTable"
                                (deleteEvent)="deleteOnClick($event)"
                                [showDelete]="true"
                                [reload]="reload$()"
                            ></dynamic-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
