<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="form" class="form">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="isNew">{{ 'QuestionsBank_NewAnswer' | localize }}</span>
                        <span *ngIf="!isNew">{{ 'QuestionsBank_EditAnswer' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" (click)="closeOnClick()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="gotham-rounded-medium">{{ l('Response') }}</span>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-5 m-form__group align-items-center">
                                    <div class="input-group">
                                        <input
                                            formControlName="answerContent"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">
                                    {{
                                        l('Score'
                                        )
                                    }}
                                </label>
                                <i class="ms-2 text-success fa fa-exclamation-circle btn-md-icon"></i>
                                <div class="input-group">
                                    <input
                                        formControlName="score"
                                        class="form-control m-input"
                                        type="number"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="input-group">
                                <label class="form-check form-check-custom form-check-solid form-switch">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        formControlName="autoNull"
                                        name="questionDependentQuestions"
                                    />
                                    <span class="form-check-label gotham-rounded-medium ms-2">
                                        {{ l('ThisQuestionCanBeOverridden') }}
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="input-group">
                                <label class="form-check form-check-custom form-check-solid form-switch">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        formControlName="specializedResource"
                                        name="specializedResource"
                                    />
                                    <span class="form-check-label gotham-rounded-medium ms-2">
                                        {{ l('SpecializedResource') }}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="hasValidations" class="col-xl-4">
                        <div class="mb-5 m-form__group align-items-center">
                            <label class="form-label gotham-rounded-medium">
                                {{
                                    l('Validation'
                                    )
                                }}
                            </label>
                            <i class="ms-2 text-success fa fa-exclamation-circle btn-md-icon"></i>
                            <select
                            class="form-select form-control gotham-rounded-medium"
                            formControlName="validationTypeId"
                        >
                            <option disabled selected value>
                                {{ l('SelectValidation') }}
                            </option>
                            <option *ngFor="let inputType of validations" [ngValue]="{id:inputType.id, name:inputType.name}">
                                {{ inputType.name }}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-customer-outline" (click)="closeOnClick()">
                        {{ l('Cancel') }}
                    </button>
                    <button class="btn btn-primary btn-customer" (click)="save()">
                        {{ l('Confirm') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

