<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Questionnaire' | localize" [breadcrumbs]="breadcrumbs">
            <div role="actions">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('Cancel') }}
                </button>
                <button
                    class="btn btn-yellow text-black"
                    [disabled]="formQuestionnaire.pristine"
                    (click)="saveOnClick()"
                    [disabled]="allowSave()"
                >
                    {{ l('Confirm') }}
                </button>
                <button
                    class="btn btn-yellow text-black"
                    [disabled]="formQuestionnaire.pristine"
                    (click)="saveOnClick()"
                    [disabled]="allowSave()"
                >
                    {{ l('Publish') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form [formGroup]="formQuestionnaire">
                            <div class="form-body">
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="title" class="gotham-rounded-medium mb-2">
                                                {{ l('Questionnaire') }}
                                            </label>
                                            <div class="input-group">
                                                <input
                                                    id="title"
                                                    formControlName="title"
                                                    name="title"
                                                    class="form-control m-input"
                                                    [placeholder]=""
                                                    type="text"
                                                    [class.is-invalid]="
                                                        formQuestionnaire.get('title').touched &&
                                                        formQuestionnaire.get('title').invalid
                                                    "
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="typeId" class="gotham-rounded-medium mb-2">
                                                {{ l('TypeQuestionnaireName') }}
                                            </label>
                                            <div class="input-group">
                                                <select
                                                    id="typeId"
                                                    class="form-select form-control gotham-rounded-medium"
                                                    formControlName="typeId"
                                                    name="typeId"
                                                    [class.is-invalid]="
                                                        formQuestionnaire.get('typeId').touched &&
                                                        formQuestionnaire.get('typeId').invalid
                                                    "
                                                >
                                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                                    <option
                                                        *ngFor="let inputType of allIputTypes; let i = index"
                                                        [value]="allIputTypes[i].id"
                                                    >
                                                        {{ allIputTypes[i].name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mt-4 d-flex align-items-end">
                                                <label for="SampleDatePicker" class="col-md-12 gotham-rounded-medium">
                                                    {{ l('DateRange') }}
                                                </label>
                                                <input
                                                    class="form-control"
                                                    id="StartEndRange"
                                                    name="StartEndRange"
                                                    #drp="bsDaterangepicker"
                                                    readonly="readonly"
                                                    bsDaterangepicker
                                                    dateRangePickerLuxonModifier
                                                    [(date)]="dateRange"
                                                    style="border-radius: 6px"
                                                />
                                                <div class="input-group-append">
                                                    <button
                                                        class="btn btn-primary"
                                                        type="button"
                                                        style="margin-left: -8px"
                                                        (click)="drp.toggle()"
                                                    >
                                                        <i
                                                            class="fa fa-calendar-day p-0"
                                                            style="color: white"
                                                            aria-hidden="true"
                                                        ></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group mt-4">
                                                <label
                                                    for="isActive"
                                                    class="form-check form-check-custom form-check-solid form-switch"
                                                >
                                                    <input
                                                        formControlName="isActive"
                                                        name="isActive"
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        role="switch"
                                                        id="isActive"
                                                        [checked]="true"
                                                    />
                                                    <span class="gotham-rounded-medium ms-2" for="isActive">
                                                        {{ l('IsActive') }}
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="showAssociated()" class="card card-custom gutter-b" style="margin-top: 1rem">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row mb-2" style="padding-top: 1rem">
                            <div class="col-lg-12">
                                <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                    {{ l('measuringtools_categories_subtitle') }}
                                </h6>
                                <button class="btn btn-yellow text-black float-end" (click)="addCategoryOnClick()">
                                    <i class="fa fa-plus bg-black"></i>
                                    {{ l('measuringtools_categories_add') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2" style="padding-top: 1rem">
                        <div class="col-lg-12">
                            <dynamic-table
                                [showFilter]="false"
                                [configColumns]="columnsCategory"
                                [executeFunction]="loadDataTableCategory"
                                [reload]="reloadCategory$()"
                                (deleteEvent)="deleteCategoryOnClick($event)"
                                [showDelete]="true"
                                (viewEvent)="showCategoryOnClick($event)"
                                [showView]="true"
                            ></dynamic-table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showAssociated()" class="card card-custom gutter-b" style="margin-top: 1rem">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row mb-2" style="padding-top: 1rem">
                            <div class="col-lg-12">
                                <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                    {{ l('SpecialDistintionTitle') }}
                                </h6>
                                <button
                                    class="btn btn-yellow text-black float-end"
                                    (click)="addSpecialDistinctionOnClick()"
                                >
                                    <i class="fa fa-plus bg-black"></i>
                                    {{ l('SpecialDistintionAdd') }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2" style="padding-top: 1rem">
                        <div class="col-lg-12">
                            <dynamic-table
                                [showFilter]="false"
                                [configColumns]="columnsSpecialDistintion"
                                [executeFunction]="loadDataTableSpecialDistintion"
                                [reload]="reloadSpecialDistinction$()"
                                (deleteEvent)="deleteSpecialDistintionOnClick($event)"
                                [showDelete]="true"
                            ></dynamic-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-modal-add-special-distinction
            #modalAddSpecialDistinctionComponent
            (returnItemSelectedEvent)="onSelectedSpecialDistinction($event)"
            [selectedProducts]="selectedSpecialDistinction"
        ></app-modal-add-special-distinction>
        <app-modal-add-category
            #modalAddCategoryComponent
            (returnItemSelectedEvent)="onSelectedCategory($event)"
            [selectedProducts]="selectedCategory"
        ></app-modal-add-category>
        <app-modal-show-category
            #modalShowCategoryComponent
            [categoryId]="categoryId"
            [categoryTitle]="categoryTitle"
        ></app-modal-show-category>
    </div>
</div>
