<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Communication_Title')" [description]="l('Mailing_Title')">
            <div role="actions">
                <button class="btn btn-yellow text-black" (click)="addOnClick()">
                    <i class="fa fa-plus bg-black"></i>
                        {{l('Add_Email')}}
                </button>
                <!--                 <button class="btn btn-yellow-light">
                    <i class="fa fa-filter bg-yellow"></i>
                    filter
                </button> -->
            </div>
        </sub-header>
    </div>
     <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <dynamic-table
                    [configColumns]="columns"
                    [filterPlaceholder]="l('SearchQuestionnaireName')"
                    [data]="records$()"
                    (pagingChange)="pagingChange($event)"
                    (editEvent)="editOnClick($event)"
                    (deleteEvent)="deleteOnClick($event)"
                    [showEdit]="true"
                    [showDelete]="true"
                ></dynamic-table>
            </div>
        </div>
    </div>
</div>
