<div
    appBsModal
    #showCategory="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="upsertElementModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('AssociatedQuestions') }}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="mb-5 m-form__group align-items-center">
                            <select class="form-select form-control" disabled>
                                <option disabled selected value>{{categoryTitle}}</option>
                            </select>
                        </div>
                    </div>
                    <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark" style="padding-left: 0.5rem">
                        {{ l('Questions') }}
                    </h6>
                    <dynamic-table
                        [showFilter]="false"
                        [showActions]="false"
                        [configColumns]="columns"
                        [executeFunction]="loadDataTable"
                    ></dynamic-table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-customer-outline" (click)="close()">
                        {{ l('Close') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
