<!--begin::Signin-->
<div class="login-form" [@routerTransition]>
    <div class="pb-2 pt-lg-0 pt-5 text-center">
        <h1 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">{{ 'LogIn' | localize }}</h1>
    </div>
    <!--begin::Form-->
    <form #loginForm="ngForm" class="login-form form" method="post" (ngSubmit)="login()">
        <div class="mb-2">
            <label for="userNameOrEmailAddress" class="mb-2 label-font-weight">{{ 'User' | localize }}</label>
            <input
                #userNameOrEmailAddressInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                autoFocus
                [ngClass]="{ 'input-text-valid': userNameOrEmailAddressInput.valid }"
                class="form-control input-text"
                type="text"
                autocomplete="new-password"
                placeholder="{{ 'EnterUser' | localize }}"
                id="userNameOrEmailAddress"
                name="userNameOrEmailAddress"
                pattern="[A-Za-z0-9 _-]+$|[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                required
            />
            <validation-messages
                [formCtrl]="userNameOrEmailAddressInput"
                *ngIf="!userNameOrEmailAddressInput.touched"
            ></validation-messages>
        </div>

        <div class="mb-5 mt-3">
            <label for="password" class="mb-2 label-font-weight">{{ 'Password' | localize }}</label>
            <input
                #passwordInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.password"
                [ngClass]="{ 'input-text-valid': passwordInput.valid }"
                class="form-control input-text"
                type="password"
                autocomplete="new-password"
                placeholder="{{ 'EnterUserPassword' | localize }}"
                name="password"
                name="password"
                required
                maxlength="32"
            />
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>

        <div class="mb-5 pb-3 d-flex justify-content-between mt-5 pt-3">
            <label class="form-check form-check-custom form-check-solid">
                <input
                    type="checkbox"
                    name="rememberMe"
                    class="form-check-input"
                    value="true"
                    [(ngModel)]="loginService.rememberMe"
                />
                <span class="form-check-label">
                    {{ 'RememberMe' | localize }}
                </span>
            </label>
            <a
                routerLink="/account/forgot-password"
                id="forget-password"
                class="font-size-h6 font-weight-bolder text-aqua-marine"
            >
                {{ 'ForgotPassword' | localize }}
            </a>
        </div>

        <!--begin::Action-->
        <div class="pb-lg-0 mb-14">
            <button
                type="submit"
                [disabled]="!loginForm.form.valid"
                [ngClass]="{ 'btn-save-disabled': !loginForm.form.valid }"
                class="btn w-100 btn-customer font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3"
            >
                {{ 'LogInOnPlatform' | localize }}
            </button>
        </div>

        <div class="pb-lg-0 mb-14">
            <label class="mb-2 label-font-weight">{{ 'UnregisteredOrganization' | localize }}</label>
            <button
                type="button"
                routerLink="/account/register-organization"
                class="btn w-100 btn-customer font-weight-bolder font-size-h6 px-8 py-4 my-3 me-3"
            >
                {{ 'SignUp' | localize }}
            </button>
        </div>

        <!--end::Action-->
    </form>

    <div class="row mt-5 pt-3">
        <div class="col-12">
            <span>{{ 'UseofPlatformDataAndInformationLoginMsg' | localize }}
                <a
                    id="TermsAndConditions"
                    target="_blank"
                    [href]="TermsAndConditions"
                    class="text-primary font-size-h6 font-weight-bolder text-hover-primary"
                >
                    {{ 'TermsAndConditions' | localize }}
                </a>
                {{ 'UseofPlatformAndThe' | localize }}
                <a
                    id="PolicyUseDataAndInformationClients"
                    target="_blank"
                    [href]="PolicyUseDataAndInformationClients"
                    class="text-primary font-size-h6 font-weight-bolder text-hover-primary"
                >
                {{ 'DataUsePolicyCustomerAndUsersInformation' | localize }}</a>{{ 'UseofPlatformWhichDecalreToKnow' | localize }}                
            </span>
        </div>

        <div class="col-12 pt-4">
            <label class="form-check form-check-custom form-check-solid">
                <span class="copyright">Copyright &copy; Aequales</span>
            </label>
        </div>
    </div>
</div>
