.login__options {
    a {
        cursor: pointer;

        i.fa-openidconnect {
            &::before {
                content: "\f19b";
            }
        }

        i.fa-wsfederation {
            margin-right: 2px;

            &::before {
                content: "\f20e";
            }
        }
    }
}

.label-font-weight {
    font-weight: 400;
}

.input-text::placeholder {
    font-weight: 100;
}

.input-text-valid {
    background-color: #edf7fe;
}

.text-aqua-marine {
    color: #2aa08c;
    font-weight: 500;
}


.btn-save-disabled {
    background-color: var(--color-disable-btn);
    color: gray,
}
.copyright{
    font-size: 0.89rem;
    opacity: 0.5;
}