<div class="login-form" [@routerTransition]>
    <div class="pb-5 pt-lg-0 pt-5">
        <h3 class="text-center font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            {{ 'ForgotPasswordTitle' | localize }}
        </h3>
    </div>
    <div class="mt-1 mb-10">
        <label class="text-center ">
            {{ 'ForgotPasswordSubtitle' | localize }}
        </label>
    </div>

    <form class="login-form form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <div class="row mb-4">
            <div class="col-xl-12">
                <label class="form-label" for="emailAddress">{{ 'ForgotPasswordEmailOption' | localize }} </label>
                <input id="emailAddress" #emailAddressInput="ngModel" type="text" name="emailAddress"
                    class="form-control" [(ngModel)]="model.emailAddress" maxlength="256" />
                <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
            </div>
        </div>

        <div class="row mb-4 mt-8 d-flex flex-row flex-sm-row">
            <div class="col-xl-5 col-sm-5">
                <hr>
            </div>
            <div class="col-xl-2  col-sm-2">
                <p class="text-center"><small>{{ 'Or' | localize }}</small></p>
            </div>
            <div class="col-xl-5 col-sm-5">
                <hr>
            </div>
        </div>

        <label class="mb-10" >
            {{ 'ForgotPasswordAlternatives' | localize }}
        </label>

        <div class="row mb-4">
            <div class="col-xl-12">
                <label class="form-label" for="identification">{{ 'ForgotPasswordIdentificationOption' | localize }} </label>
                <input id="identification" #identificationInput="ngModel" type="text" name="identification"
                    class="form-control" [(ngModel)]="model.identification" maxlength="64" />
                <validation-messages [formCtrl]="identificationInput"></validation-messages>
            </div>
        </div>

        <div class="pb-lg-0 pb-5 d-flex justify-content-between">
            <button
                [disabled]="saving"
                routerLink="/account/login"
                type="button"
                class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
                {{ 'Return' | localize }}
            </button>
            <button
                type="submit"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
                [disabled]="!forgotPassForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')">
                <i class="fa fa-check"></i>
                {{ l('Continue')  }}
            </button>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a target="_blank" [href]="ForgotPasswordHelp" class="d-flex justify-content-center">
                <h6 class="ml-5 mt-1 ">{{ 'ForgotPasswordHelp' | localize }}</h6>
            </a>
        </div>
    </form>
</div>
