
.bg-customer {
    background-color: var(--color-active-btn)!important;
}
.btn-customer {
    background-color: var(--color-active-btn)!important;
    color: white!important;
}
.btn-customer:hover {
    background-color: var(--color-active-btn-focus)!important;
    color: white!important;
}
.btn-customer {
    font-weight: 700!important;
}
.text-customer {
    color: var(--color-active-btn);
}
.active-tab{
    color: var(--color-active-btn);
    font-weight: 600;
    background-color: #fff;
}
.option-tab{
    color: black;
    font-weight: 500;
    margin-bottom: -4px;
}
.title-description{
    font-weight: 700;
}
.description{
    // color: black;
    // font-weight: 500;
    // margin-bottom: -4px;
}