<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'DashboardName' | localize" [breadcrumbs]="breadcrumbs">
      <div role="actions">
        <!-- <button class="btn btn-secondary blue"  (click)="closeOnClick()" id="companyCloseBtn"  [buttonBusy]="loading">
                    {{ l('Close') }}
                </button> -->
        <!-- <button class="btn btn-primary btn-customer" (click)="addOnClick()" >
                    <i class="fa fa-plus"></i> {{ l('CategoryMeasuringTools') }}
                </button>-->
        <button class="btn btn-primary btn-customer-light">
          <i class="fa fa-filter btn-customer-light"></i> {{ l('FilterMeasuringTools') }}
        </button>
      </div>
    </sub-header>
    <div [class]="containerClass">
      <div class="card card-custom gutter-b bg-transparent">
        <div class="card-body">
          <header-premium-dashboard></header-premium-dashboard>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let item of optionsMenu">
              <button class="nav-link option-tab" [ngClass]="{'active-tab': item.active}" (click)="selectMenu(item)"
                [id]="item.index +  '-tab'" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                aria-controls="home" aria-selected="true">{{item.titleLabel}}</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                        </li> -->
          </ul>
          <div class="tab-content bg-white" id="myTabContent">
            <div class="row">
              <div class="col p-7">
                <div class="title-description">
                  {{titleDescriptionTab}}
                  <span>
                    <i class="fa fa-solid fa-info-circle text-customer"></i>
                  </span>
                </div>
                <div class="description">{{descriptionTab}}</div>
              </div>
              <div class="col p-7 text-end">
                <p-dropdown [options]="optionView" [virtualScroll]="true" [style]="{ width: '200px' }"></p-dropdown>
              </div>
            </div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <dynamic-grafic [configGrafic]="configGrafic$()" [data]="records$()"
                [descriptionGrafic]="descriptionGrafic"></dynamic-grafic>
            </div>
            <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
          </div>


        </div>
      </div>
    </div>

  </div>
</div>