:host {
  width: 100%;

  &.animate-next > .content-animate {
    position: relative;
    animation: animatenext 0.6s;
  }

  &.animate-previus > .content-animate {
    position: relative;
    animation: animateprevius 0.6s;
  }
}

@keyframes animatenext {
  from {
    transform: translate(100%);
    opacity: 0;
    height: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
    height: 100%;
  }
}

@keyframes animateprevius {
  from {
    transform: translate(-100%);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}
