<div [formGroup]="form">
    <label class="d-block gotham-rounded-medium mb-2">{{ title || l('DragIconGuide') }}</label>
    <div class="input-group">
        <ngx-dropzone (change)="onSelectFile($event)" class="dropzone w-100">
            <ngx-dropzone-label class="font-weight-bolder">
                <div>
                    <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                </div>
                {{ l('DragYourFileHere') }}
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemoveFile(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
    <label class="text-secondary gotham-rounded-medium">{{ l('FormatTypesAllowed') }}</label>
    <br />
    <label class="text-secondary gotham-rounded-medium">{{ l('FileSizeLimitAndResolution') }}</label>
</div>
