<div
    appBsModal
    #editCompanyModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="formTemplate" class="form">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ 'CompanyData' | localize }}</span>
                    </h5>
                    <button type="button" class="btn-close" [attr.aria-label]="l('Close')" (click)="close()"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="gotham-rounded-medium">{{ l('OrganizationName') }}</span>
                        <div class="row align-items-center mb-2">
                            <div class="col-xl-12">
                                <div class="mb-2 m-form__group align-items-center">
                                    <div class="input-group">
                                        <input
                                            [disabled]="disabled"
                                            [class.is-invalid-noicon]="
                                                formTemplate.get('name').touched &&
                                                formTemplate.get('name').invalid
                                            "
                                            formControlName="name"
                                            class="form-control m-input"
                                            type="text"
                                            minlength="3"
                                            maxlength="32"
                                            pattern="^[a-zA-Z][a-zA-Z-'’\s]{1,}$"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="gotham-rounded-medium">{{ l('OrganizationIdentificationNumber') }}</span>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-2 m-form__group align-items-center">
                                    <div class="input-group">
                                        <input
                                            [disabled]="disabled"
                                            [class.is-invalid-noicon]="
                                                formTemplate.get('idNumber').touched &&
                                                formTemplate.get('idNumber').invalid
                                            "
                                            formControlName="idNumber"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">{{ l('Country') }}</label>
                                <select
                                    class="form-select form-control gotham-rounded-medium"
                                    formControlName="countryId"
                                    (change)="getRegions($event.target.value)"
                                    [class.is-invalid]="
                                        formTemplate.get('countryId').touched && formTemplate.get('countryId').invalid
                                    "
                                >
                                    <option disabled selected value>{{ l('SelectYourCountry') }}</option>
                                    <option *ngFor="let inputType of countries" [value]="inputType.id">
                                        {{ inputType.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">{{ l('Region') }}</label>
                                <select
                                    class="form-select form-control gotham-rounded-medium"
                                    formControlName="regionId"
                                    (change)="getCities($event.target.value)"
                                    [class.is-invalid]="
                                        formTemplate.get('regionId').touched && formTemplate.get('regionId').invalid
                                    "
                                >
                                    <option disabled selected value>{{ l('SelectYourRegion') }}</option>
                                    <option *ngFor="let inputType of regions" [value]="inputType.id">
                                        {{ inputType.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">{{ l('City') }}</label>
                                <select
                                    class="form-select form-control gotham-rounded-medium"
                                    formControlName="cityId"
                                    [class.is-invalid]="
                                        formTemplate.get('cityId').touched && formTemplate.get('cityId').invalid
                                    "
                                >
                                    <option disabled selected value>{{ l('SelectYourCity') }}</option>
                                    <option *ngFor="let inputType of cities" [value]="inputType.id">
                                        {{ inputType.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">{{ l('Sector') }}</label>
                                <select
                                    class="form-select form-control gotham-rounded-medium"
                                    formControlName="sectorId"
                                    [class.is-invalid]="
                                        formTemplate.get('sectorId').touched && formTemplate.get('sectorId').invalid
                                    "
                                >
                                    <option disabled selected value>{{ l('SelectSector') }}</option>
                                    <option *ngFor="let sector of sectors" [value]="sector.id">
                                        {{ sector.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5 m-form__group align-items-center">
                                <label class="form-label gotham-rounded-medium">{{ l('NumberOfCollaborators') }}</label>
                                <div class="input-group">
                                    <select
                                        id="collaborator"
                                        [class.is-invalid-noicon]="
                                            formTemplate.get('employeesNumber').touched &&
                                            formTemplate.get('employeesNumber').invalid
                                        "
                                        class="form-select form-control m-input"
                                        formControlName="employeesNumber"
                                        required
                                    >
                                        <option
                                            *ngFor="let collaborator of collaborators"
                                            [value]="collaborator.id"
                                        >
                                            {{ collaborator.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="m-form__group align-items-center">
                            <label class="form-check form-check-custom form-check-solid me-5">
                                <input
                                    formControlName="isInternational"
                                    class="form-check-input"
                                    id="EditEdition_IsFree"
                                    type="checkbox"
                                    [class.is-invalid-noicon]="
                                        formTemplate.get('isInternational').touched && formTemplate.get('isInternational').invalid
                                    "
                                />
                                <span class="form-check-label gotham-rounded-medium">
                                    {{ l('OrganizationOperatesMoreOneCountry') }}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="m-form__group align-items-center">
                            <label class="form-check form-check-custom form-check-solid me-5">
                                <input
                                    formControlName="receivePromoAccepted"
                                    class="form-check-input"
                                    id="EditEdition_IsFree"
                                    type="checkbox"
                                    [class.is-invalid-noicon]="
                                        formTemplate.get('receivePromoAccepted').touched &&
                                        formTemplate.get('receivePromoAccepted').invalid
                                    "
                                />
                                <span class="form-check-label gotham-rounded-medium">
                                    {{ l('RegionalManagementExist') }}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <span class="gotham-rounded-medium">{{ l('RegionalManagementName') }}</span>
                            <div class="row align-items-center mb-2">
                                <div class="col-xl-12">
                                    <div class="mb-2 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [disabled]="disabled"
                                                [class.is-invalid-noicon]="
                                                    formTemplate.get('inclusionRegionalManagerName').touched &&
                                                    formTemplate.get('inclusionRegionalManagerName').invalid
                                                "
                                                formControlName="inclusionRegionalManagerName"
                                                class="form-control m-input"
                                                type="text"
                                                type="text"
                                                minlength="3"
                                                maxlength="32"
                                                pattern="^[a-zA-Z][a-zA-Z-'’\s]{1,}$"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="gotham-rounded-medium">{{ l('RegionalManagementEmail') }}</span>
                            <div class="row align-items-center mb-2">
                                <div class="col-xl-12">
                                    <div class="mb-2 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [disabled]="disabled"
                                                [class.is-invalid-noicon]="
                                                    formTemplate.get('inclusionRegionalManagerEmail').touched &&
                                                    formTemplate.get('inclusionRegionalManagerEmail').invalid
                                                "
                                                formControlName="inclusionRegionalManagerEmail"
                                                class="form-control m-input"
                                                email
                                                maxlength="32"
                                                minlength="8"
                                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-light-primary font-weight-bold"
                            (click)="close()"
                            [disabled]="saving"
                        >
                            {{ 'Cancel' | localize }}
                        </button>
                        <button
                            (click)="save()"
                            class="btn btn-primary font-weight-bold"
                        >
                            <i class="fa fa-save"></i>
                            <span>{{ 'Save' | localize }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
