<div [@routerTransition]>

    <table-component-example></table-component-example>
    <grafic-component-example></grafic-component-example>
    <app-select-input-filter></app-select-input-filter>
    <modal-component-example></modal-component-example>
    <dynamic-input-example></dynamic-input-example>

</div>
