
.text-customer {
    color: var(--color-active-btn);
    font-size: 1.99rem;
}
i{
    font-size: 0.99rem!important;
}
.title {
    font-weight: 700;
    margin: 10px 0px 10px 9px;
}
.overview {
    margin: 0px 0px 10px 9px;
}
.link-more {
    margin: 0px 0px 10px 9px;
}
.block-data {
}
.inline-block {
    display: flex;
}
.flex-grow-1 {
    max-width: 50%;
}

.img-header{
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.img-information{
    background-image: url('../../../../assets/common/images/premium-dashboard/several-people.png');
}
.img-improvement-plan{
    background-image: url('../../../../assets/common/images/premium-dashboard/improvement-plan.png');
}