<div class="row mb-5">
  <div class="col bg-white rounded me-1 pe-0 overflow-hidden">
    <div class="inline-block">
      <div class="flex-grow-1">
        <div class="block-data-information">
          <div class="title">{{'HowFunction' | localize}}</div>
          <div class="overview">{{'GuidePremiumDashboard' | localize}}</div>
          <div class="link-more">
            <span class="text-customer">
              <i class="fa fa-solid  fa-play-circle ms-2 text-customer"></i> {{'ViewTutorial' | localize}}
            </span>
          </div>
        </div>
      </div>

      <div class="flex-grow-1">
        <div class="img-header img-information"></div>
      </div>
    </div>
  </div>
  <div class="col bg-white rounded ms-1">
    <div class="inline-block">
      <div class="flex-grow-1">
        <div class="block-data-information">
          <div class="title">{{'PlanBetter' | localize}}</div>
          <div class="overview">{{'PlanBetterInformation' | localize}}</div>
          <div class="link-more">
            <span class="text-customer">
              {{ 'Discover' | localize}} <i class="fa fa-solid fa-arrow-right  ms-2 text-customer"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="flex-grow-1">
        <div class="img-header img-improvement-plan"></div>
      </div>
    </div>
  </div>
</div>