<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('SettingsMain')" [breadcrumbs]="breadcrumbs">
            <div role="actions">
                <button class="btn btn-customer" (click)="addOnClick()">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('configurations_sector_subtitle') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <dynamic-table
                        [configColumns]="columns"
                        [executeFunction]="loadDataTable"
                        [reload]="reload$()"
                        (editEvent)="editOnClick($event)"
                        (deleteEvent)="deleteOnClick($event)"
                        [showEdit]="true"
                        [showDelete]="true"
                    ></dynamic-table>
                </div>
            </div>
        </div>
    </div>
</div>
