<div [formGroup]="form">
    <div class="form-group">
        <label class="gotham-rounded-medium mb-2 mt-1">{{ title || '' }}</label>
        <div class="input-group">
            <select
                class="form-select form-control gotham-rounded-medium"
                [formControlName]="name"
                [name]="name"
                [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
            >
                <option disabled selected value hidden *ngIf="showSelectOption">
                    {{ l('Select_Option') }}
                </option>
                <option disabled selected value hidden *ngIf="placeholder">
                    {{ placeholder }}
                </option>
                <option *ngFor="let option of options" [value]="option.id">
                    {{ option.name }}
                </option>
            </select>
        </div>
    </div>
</div>
