<div [formGroup]="form">
    <div class="col-12" *ngFor="let radio of radioList">
        <label for="{{ 'radio' + name + radio.roleId }}" class="form-check form-check-custom form-check-solid mt-2">
            <input
                [class.is-invalid]="form.controls[name].touched && form.controls[name].invalid"
                [formControlName]="name"
                [name]="name"
                [id]="'radio' + name + radio.roleId"
                [value]="radio.roleId"
                class="form-check-input"
                type="radio"
            />
            <span class="form-check-label gotham-rounded-medium input-label-width">
                {{ radio.roleName }}
            </span>
        </label>
    </div>
</div>
