<div [formGroup]="form">
    <label class="d-block gotham-rounded-medium mb-2">
        {{ title || l('input_load_file_loadyourfile') }}
    </label>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-end">
                <button class="btn btn-customer">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('input_load_file_title') }}
                </button>
                <br />
                <label class="text-secondary gotham-rounded-medium mt-3">
                    1 {{ l('input_load_file_fileselected') }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{ l('input_load_file_filename') }}
            </div>
            <div class="col-3">
                {{ l('input_load_file_filesize') }}
            </div>
            <div class="col-6"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3">
                <div class="align-vertical-center">
                    <span class="gotham-rounded-medium">Logo</span>
                </div>
            </div>
            <div class="col-3">
                <div class="align-vertical-center">
                    <span class="gotham-rounded-medium">30 kb</span>
                </div>
            </div>
            <div class="col-3 p-0">
                <button class="btn btn-sm bg-success">
                    <i class="fa fa-plus text-white"></i>
                    <span class="gotham-rounded-medium text-white">
                        {{ l('input_load_file_fileupdate') }}
                    </span>
                </button>
            </div>
            <div class="col-3 p-0">
                <button class="btn btn-sm bg-error">
                    <i class="fa fa-plus text-white"></i>
                    <span class="gotham-rounded-medium text-white">
                        {{ l('input_load_file_filedelete') }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
