<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'entities_enterprise_title' | localize">
            <div role="actions">
                <!-- <button class="btn btn-secondary blue"  (click)="closeOnClick()" id="companyCloseBtn"  [buttonBusy]="loading">
                    {{ l('Close') }}
                </button> -->
                <button class="btn btn-customer" (click)="joinOnClick()">
                    {{ l('entities_enterprise_join') }}
                </button>
                <button class="btn btn-customer" (click)="addOnClick()">
                    <i class="fa fa-plus text-white"></i>
                    {{ l('entities_enterprise_add') }}
                </button>
                <button class="btn btn-customer-light" (click)="filterOnClick()">
                    <i class="fa fa-filter bg-customer-light"></i>
                    {{ l('entities_enterprise_filter') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <dynamic-table
                        [configColumns]="columns"
                        [reload]="reload$()"
                        [executeFunction]="loadDataTable"
                        (editEvent)="editOnClick($event)"
                        (deleteEvent)="deleteOnClick($event)"
                        [showEdit]="true"
                        [showDelete]="true"
                    ></dynamic-table>
                </div>
            </div>
        </div>
    </div>
</div>
