 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 24px;
     margin: 0;
     top: 0;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .inline {
    max-width: 400px;
    margin: auto;
}
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.hidden{
    display: none;
}
.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

.dropzone {
    color: #1a9ef7 !important;
    font-weight: 550 !important;
    background-color: #edf7fe !important;
    border-color: #1a9ef7 !important;
    border-width: medium !important;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.tooltip-inner {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    text-align: left;
}

.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
    border-top-color: black;
}

.p-dropdown {
    border-color: #e4e6ef !important;
}

.text-muted {
    font-weight: 300;
}
.font-weight-normal{
    font-weight: 300;
}

.without-border {
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 10px;
}
.without-border:focus {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 10px;
}