<div [@routerTransition] #documentUpsert>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <form [formGroup]="formDocuments">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Form_Document_Document') }}</label>
                                <input
                                    [class.is-invalid]=""
                                    formControlName="title"
                                    type="text"
                                    class="form-control"
                                    formControlName="Name"
                                />
                            </div>
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Form_Document_Estructure') }}</label>
                                <select
                                    class="form-select form-control"
                                    [class.is-invalid]=""
                                    formControlName="EstructureId"
                                >
                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                    <option
                                        *ngFor="let estructure of allEstructures; let i = index"
                                        [value]="allEstructures[i].id"
                                    >
                                        {{ allEstructures[i].name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Form_Document_Location') }}</label>
                                <select
                                    class="form-select form-control"
                                    [class.is-invalid]=""
                                    formControlName="LocationId"
                                >
                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                    <option
                                        *ngFor="let location of allLocations; let i = index"
                                        [value]="allLocations[i].id"
                                    >
                                        {{ allLocations[i].name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Form_Document_Language') }}</label>
                                <select
                                    class="form-select form-control"
                                    [class.is-invalid]=""
                                    formControlName="LanguageId"
                                >
                                    <option disabled selected value>{{ l('Select_Option') }}</option>
                                    <option
                                        *ngFor="let language of allLanguages; let i = index"
                                        [value]="allLanguages[i].id"
                                    >
                                        {{ allLanguages[i].name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2" style="padding-top: 1rem">
                            <div class="col-lg-6">
                                <label class="form-check form-check-custom form-check-solid form-switch">
                                    <input
                                        formControlName="isActive"
                                        type="checkbox"
                                        class="form-check-input"
                                        [value]="true"
                                        [checked]="true"
                                    />
                                    <span class="form-check-label">{{ l('Form_Document_IsDocumentActive') }}</span>
                                </label>
                            </div>
                        </div>
                        <div class="row col-12" *ngIf="isEdition()">
                            <div>
                                <label class="col-3 mt-3">Nombre</label>
                                <label class="col-1 mt-3">Tamaño</label>
                            </div>
                            <input formControlName="URL" type="text" class="col-3 form-input without-border" readonly />
                            <input
                                formControlName="Size"
                                type="text"
                                class="col-1 form-input without-border"
                                readonly
                            />
                            <button class="btn btn-green col-2" (click)="updateDocument()">
                                <i class="fa fa-upload"></i>
                                {{ l('input_load_file_fileupdate') }}
                            </button>
                            <button class="btn btn-red col-2" (click)="deleteDocument()">
                                <i class="fa fa-trash"></i>
                                {{ l('Eliminar') }}
                            </button>
                        </div>
                        <!--drag-->
                        <div class="row" *ngIf="!isEdition()">
                            <div class="col-6">
                                <div class="row align-items-center mb-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <label class="form-text text-muted mb-6 mt-2 col-12">
                                            {{ l('TitleUploadFile') }}
                                        </label>
                                        <ngx-dropzone ngx-dropzone (change)="onSelect($event)" class="dropzone">
                                            <ngx-dropzone-label class="font-weight-normal">
                                                <div>
                                                    <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                                                </div>
                                                <span>{{ l('TitleDragFile') }}</span>
                                            </ngx-dropzone-label>
                                            <ngx-dropzone-image-preview
                                                ngProjectAs="ngx-dropzone-preview"
                                                *ngFor="let f of files"
                                                [file]="f"
                                                [removable]="true"
                                                (removed)="onRemove(f)"
                                            >
                                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                            </ngx-dropzone-image-preview>
                                        </ngx-dropzone>
                                        <label class="form-text text-muted mt-3 col-12">
                                            {{ l('TypeFormatFile') }}
                                        </label>
                                        <label class="form-text text-muted mt-0 col-12">
                                            {{ l('TypeLimitFile') }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row align-items-center mb-4">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <!-- <label class="form-text text-muted mb-6 mt-2 col-12">
                                            {{ l('UploadFileHere')  }}
                                        </label> -->
                                        <div class="flex-column align-items-end input-group mb-3">
                                            <div class="custom-file">
                                                <button class="btn btn-yellow text-black" (click)="addDocument()">
                                                    <i class="fa fa-plus bg-black"></i>
                                                    <!-- {{ l('Documents')  }} -->
                                                    {{ l('Documents') }}
                                                </button>
                                                <input
                                                    #files
                                                    type="file"
                                                    class="hidden"
                                                    name="image"
                                                    ng2FileSelect
                                                    [uploader]="uploadFile"
                                                    accept="{{ allowedExtensions }}"
                                                />
                                            </div>
                                            <!-- <span class="form-text text-muted mt-2">
                                                {{ cantFiles <= 1 ? l('SelectedFile') : cantFiles + ' ' + l('SelectedFiles')}}
                                            </span> -->
                                        </div>
                                        <div>
                                            <div
                                                class="col primeng-datatable-container"
                                                [busyIf]="primengTableHelper.isLoading"
                                            >
                                                <p-table #dataTable [responsive]="primengTableHelper.isResponsive">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th>
                                                                {{ l('Name') }}
                                                            </th>
                                                            <th>
                                                                {{ l('Size') }}
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body">
                                                        <tr>
                                                            <td class="font-family-gotham-rounded">
                                                                Nombre Archivo.jpg
                                                            </td>
                                                            <td class="font-family-gotham-rounded">1 MB</td>
                                                            <td class="font-family-gotham-rounded">
                                                                <button
                                                                    class="btn btn-green text-white"
                                                                    (click)="updateFileOnClick($event)"
                                                                >
                                                                    <i></i>
                                                                    {{ l('Update') }}
                                                                </button>
                                                                <button
                                                                    class="btn btn-red text-white"
                                                                    (click)="removeFileOnClick($event)"
                                                                >
                                                                    <i></i>
                                                                    {{ l('Delete') }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end drag-->
                    </form>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="showQuestionsAssociated()" class="card card-custom gutter-b" style="margin-top: 2rem">
            <div class="card-body">
                <div class="col-lg-12">
                    <label class="col-md-12 form-label">Questions</label>
                </div>
                <div class="row mb-2" style="padding-top: 1rem">
                    <div class="col-lg-12">
                        <dynamic-table
                        [showFilter]="false"
                        [configColumns]="columns"
                        [executeFunction]="loadDataTable"
                        [reload]="reload$()"
                        (deleteEvent)="deleteOnClick($event)"
                        [showDelete]="true"
                    ></dynamic-table>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
