<div [formGroup]="form">
    <div class="form-group">
        <label class="gotham-rounded-medium mb-2 mt-1">{{ title || '' }}</label>
        <div class="">
            <p-dropdown
                [style]="{ width: '100%' }"
                [options]="options"
                [name]="name"
                [formControlName]="name"
                [placeholder]="placeholder || ''"
                optionLabel="name"
                optionValue="id"
                [attr.id]="'dropdown_id'"
                [filter]="true"
                appendTo="body"
                [showClear]="true"
                (onChange)="findValues($event)"
            ></p-dropdown>
        </div>
    </div>
</div>
