<div
    appBsModal
    #createOrEditModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="form" [formGroup]="form" (submit)="onFormSubmit($event, form)">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="isNew">{{ 'users_aequeales_title_create' | localize }}</span>
                        <span *ngIf="!isNew">{{ 'users_aequeales_title_update' | localize }}</span>
                    </h4>
                    <button
                        type="button"
                        class="btn-close"
                        (click)="closeOnClick()"
                        [attr.aria-label]="l('Close')"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation" *ngFor="let item of optionsMenu">
                            <button
                                class="nav-link option-tab"
                                [ngClass]="{ 'active-tab': item.active }"
                                (click)="selectMenu(item)"
                                [id]="item.index + '-tab'"
                                data-bs-toggle="tab"
                                data-bs-target="#editorUser"
                                type="button"
                                role="tab"
                                aria-controls="editorUser"
                                aria-selected="true"
                            >
                                {{ l(item.titleLabel) }}
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content bg-white" id="myTabContent">
                        <div
                            class="tab-pane fade show active"
                            id="editorUser"
                            role="tabpanel"
                            aria-labelledby="editorUser-tab"
                        >
                            <tab-user-information
                                [form]="form"
                                *ngIf="optionSelectedMenu === 'userInformation'"
                            ></tab-user-information>
                            <tab-roles [form]="form" *ngIf="optionSelectedMenu === 'roles'" [roles]="roles"></tab-roles>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-customer-outline" (click)="closeOnClick()">
                        {{ l('users_aequeales_label_btn_cancel') }}
                    </button>
                    <button class="btn btn-primary btn-customer" [disabled]="form.pristine" (click)="saveOnClick()">
                        {{ l('users_aequeales_label_btn_save') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
