<div [@routerTransition]>
    <sub-header [title]="l('Content')" [breadcrumbs]="breadcrumbs">
        <div role="actions">
            <button class="btn btn-yellow-light" (click)="filterOnClick()">
                <i class="fa fa-filter bg-yellow"></i>
                {{ l('Filter') }}
            </button>
        </div>
    </sub-header>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <h5 class="font-weight-bold mb-4 me-2 mt-2 text-dark">{{ l('UploadDocuments') }}</h5>
                    <app-documents-upsert #documentUpsert (reloadTable)="getInformation()"></app-documents-upsert>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid pt-0">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <dynamic-table
                        [configColumns]="columns"
                        [filtersByColumns]="filtersByColumns"
                        [filterPlaceholder]="l('QuickNavigation')"
                        [data]="records$()"
                        (editEvent)="editOnClick($event)"
                        (deleteEvent)="deleteOnClick($event)"
                        [showEdit]="true"
                        [showDelete]="true"
                    ></dynamic-table>
                </div>
            </div>
        </div>
    </div>
</div>
