<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('Mailing_Title')" [description]="l('Mailing_Description')">
            <div role="actions">
                <button class="btn btn-customer-outline" (click)="goBack()">{{ l('Cancel') }}</button>
                <button class="btn btn-yellow text-black">{{ l('Save') }}</button>
                <button class="btn btn-yellow text-black" (click)="showPreview()">{{ l('Preview') }}</button>
                <button class="btn btn-yellow text-black">{{ l('Send') }}</button>
            </div>
            <!--             <div class="btn-group" dropdown placement="button right">
                <button
                    id="dropdownButtonExcelOperations"
                    dropdownToggle
                    type="button"
                    class="btn btn-outline btn-outline-success btn-active-light-success dropdown-toggle me-1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="dropdownMenuExcelOperations"
                >
                    <i class="far fa-file-excel btn-md-icon"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'ExcelOperations' | localize }}
                    </span>
                </button>
            </div> -->
        </sub-header>
    </div>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <form [formGroup]="formMailing">
                        <div class="form-body">
                            <div class="row mb-2">
                                <div class="col-lg-12">
                                    <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                        {{ l('DetailsMailing') }}
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Structure') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        [class.is-invalid]="
                                            formMailing.get('structure').touched && formMailing.get('structure').invalid
                                        "
                                        formControlName="structure"
                                    >
                                        <option disabled selected value>{{ l('Select_Option') }}</option>
                                        <option *ngFor="let inputType of allIputTypes" [value]="inputType">
                                            {{ inputType }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Type') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        [class.is-invalid]="
                                            formMailing.get('type').touched && formMailing.get('type').invalid
                                        "
                                        formControlName="type"
                                    >
                                        <option disabled selected value>{{ l('Select_Option') }}</option>
                                        <option *ngFor="let inputType of allIputTypes" [value]="inputType">
                                            {{ inputType }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('By_Name') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('byName').touched && formMailing.get('byName').invalid
                                        "
                                        formControlName="byName"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('By_Email') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('byEmail').touched && formMailing.get('byEmail').invalid
                                        "
                                        formControlName="byEmail"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('BBC') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('bcc').touched && formMailing.get('bcc').invalid
                                        "
                                        formControlName="bcc"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-12">
                                    <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                        {{ l('Destinary_Mailing') }}
                                    </h6>
                                    <button class="btn btn-yellow text-black float-end" (click)="addDestinaryOnClick()">
                                        <i class="fa fa-plus bg-black"></i>
                                        {{ l('Destinary_Mailing') }}
                                    </button>
                                </div>

                                <div class="row mb-2" style="padding-top: 1rem">
                                    <div class="col-lg-12">
                                        <dynamic-table
                                            [configColumns]="columns"
                                            [filterPlaceholder]="l('SearchQuestionnaireName')"
                                            (deleteEvent)="deleteOnClick($event)"
                                            [data]="records$()"
                                            [showDelete]="true"
                                        ></dynamic-table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-12">
                                    <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                        {{ l('Content_Mailing') }}
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Title_Content') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('titleContent').touched &&
                                            formMailing.get('titleContent').invalid
                                        "
                                        formControlName="titleContent"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col-lg-6">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Foot_Page') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('footPage').touched && formMailing.get('footPage').invalid
                                        "
                                        formControlName="footPage"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-4">
                                    <label class="gotham-rounded-medium mb-2">{{ l('Elements_Message') }}</label>
                                    <input
                                        [class.is-invalid]="
                                            formMailing.get('elementsMessage').touched &&
                                            formMailing.get('elementsMessage').invalid
                                        "
                                        formControlName="footPage"
                                        type="text"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col-lg-2 d-flex align-items-end">
                                    <button class="btn btn-yellow text-black">
                                        <i class="fa fa-plus bg-black"></i>
                                        {{ l('EmailElement') }}
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-12">
                                    <p-editor
                                        [(ngModel)]="text"
                                        [style]="{ height: '320px' }"
                                        [ngModelOptions]="{ standalone: true }"
                                    ></p-editor>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" style="padding-top: 1rem">
                            <div class="col-lg-12">
                                <label class="font-weight-bold mb-2 me-2 mt-2 text-dark">
                                    {{ l('Attached_Files') }}
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Drop_Your_Files_Here') }}</label>
                            </div>
                            <div class="col-lg-6">
                                <label class="gotham-rounded-medium mb-2">{{ l('Or_Add_Your_Files_Here') }}</label>
                            </div>
                            <div class="col-lg-6">
                                <ngx-dropzone #dropzone id="dropzone" (change)="onSelect($event)" class="dropzone">
                                    <ngx-dropzone-label class="font-weight-bolder">
                                        <div>
                                            <i class="fa fa-images" style="font-size: 3rem; color: #a2d8fb"></i>
                                        </div>
                                        drop_here
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-preview
                                        *ngFor="let f of files"
                                        [removable]="true"
                                        (removed)="onRemove(f)"
                                    >
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                                <div>
                                    <label class="gotham-rounded-medium mb-2" style="display: flex">
                                        {{ l('Title_Format_Allow') }}
                                    </label>
                                    <label class="gotham-rounded-medium mb-2" style="display: flex">
                                        {{ l('Title_Limit_File') }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row mb-2">
                                    <div class="col-lg-12">
                                        <button class="btn btn-yellow text-black float-end" (click)="addFile()">
                                            <i class="fa fa-plus bg-black"></i>
                                            {{ l('Attached_Files') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                        <p-table #dataTable [value]="files" [responsive]="primengTableHelper.isResponsive">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="min-width: 220px; margin: 220px;">
                                                        {{ l('Name') }}
                                                    </th>
                                                    <th>
                                                        {{ l('Size') }}
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-files>
                                                <tr>
                                                    <td style="min-width: 220px; margin: 220px;">{{ files.name }}</td>
                                                    <td>{{ files.size }}kb</td>
                                                    <td>
                                                        <button class="btn text-white" style="background-color: #28ba6a" (click)="updateFile(files)">
                                                            {{ l('Update') }}
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn text-white" style="background-color: #ff0000" (click)="onRemove(files)">
                                                            <i></i>
                                                            {{ l('Delete') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2" style="padding-top: 1rem">
                            <div class="col-lg-12">
                                <h6 class="font-weight-bold mb-2 me-2 mt-2 text-dark">{{ l('Idioms') }}</h6>
                                <button class="btn btn-yellow text-black float-end">
                                    <i class="fa fa-plus bg-black"></i>
                                    {{ l('Idioms') }}
                                </button>
                            </div>

                            <div class="row mb-2" style="padding-top: 1rem">
                                <div class="col-lg-12">
                                    <dynamic-table
                                        [configColumns]="columnsIdioms"
                                        [filterPlaceholder]="l('SearchQuestionnaireName')"
                                        [data]="records$()"
                                        [showEdit]="true"
                                    ></dynamic-table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-mailing-element-upsert
            #mailingElementUpsertComponent
            (returnItemSelectedEvent)="onSelectedItem($event)"
        ></app-mailing-element-upsert>
    </div>
</div>
