<div *ngIf="modalBodyTitle.isShow">
    <h4 class="modal-text-title">
        <span>{{ modalBodyTitle.text }}</span>
    </h4>
</div>
<div *ngIf="modalBodyDescription.isShow">
    <div class="modal-text-description">
        <p>{{ modalBodyDescription.text }}</p>
    </div>
</div>
