.modal-body {
    padding-top: 15px;
}

h4.modal-text-title {
    font-size: 1rem;
    color: #c4c4c4;
    margin-bottom: 15px;
}

.modal-text-description {
    font-weight: 300;
    font-size: 1.3rem;
}
