<div
    appBsModal
    #createOrEditModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active && form" [formGroup]="form" novalidate (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="role.id">{{ 'EditRole' | localize }}: {{ role.displayName }}</span>
                        <span *ngIf="!role.id">{{ 'CreateNewRole' | localize }}</span>
                    </h4>
                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        [attr.aria-label]="l('Close')"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <tabset class="tab-container tabbable-line">
                        <tab heading="{{ 'RoleName' | localize }}">
                            <div class="mb-2 mt-3">
                                <input-text
                                    id="RoleDisplayName"
                                    [form]="form"
                                    [name]="'displayName'"
                                    [title]="l('RoleName')"
                                ></input-text>
                            </div>
                            <div class="mb-3">
                                <input-select
                                    [form]="form"
                                    [name]="'tenantId'"
                                    [options]="optionsStructure"
                                    [title]="l('Structure')"
                                ></input-select>
                            </div>
                        </tab>
                        <tab heading="{{ 'Access' | localize }}">
                            <permission-tree #permissionTree [editData]="roleForEditOutput"></permission-tree>
                        </tab>
                    </tabset>
                    <div class="alert alert-warning" style="margin-top: 30px">
                        <em>{{ 'Note_RefreshPageForPermissionChanges' | localize }}</em>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-customer-outline" (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary btn-customer"
                        [disabled]="!form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ 'Confirm' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
