<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Roles' | localize">
            <div role="actions">
                <button
                    class="btn btn-customer"
                    *ngIf="'Pages.Administration.Roles.Create' | permission"
                    (click)="createRole()"
                >
                    <i class="fa fa-plus btn-md-icon text-white"></i>
                    <span class="d-none d-md-inline-block">
                        {{ 'Rol' | localize }}
                    </span>
                </button>
                <button class="btn btn-customer-light">
                    <i class="fa fa-filter bg-customer-light"></i>
                    {{ l('FilterMeasuringTools') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div class="row mb-5">
                            <div class="col-12 col-sm-4">
                                <input
                                    type="text"
                                    id="Branch_List_Filter_Name"
                                    name="branchListFilterName"
                                    class="form-control"
                                    autoFocus
                                    placeholder="{{ l('FilterRol') }}"
                                    [(ngModel)]="filters.filterText"
                                    (input)="searchOnInput()"
                                />
                            </div>
                            <div class="col-12 col-sm-4">
                                <p-dropdown
                                    [options]="filtersByColumns"
                                    [virtualScroll]="true"
                                    name="filtersByColumns"
                                    (onChange)="searchOnInput()"
                                    [(ngModel)]="filters.filtersByColumns"
                                    [appendTo]="null"
                                    [style]="{ width: '100%' }"
                                ></p-dropdown>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center mt-3">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getData($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !(
                                                    [
                                                        'Pages.Administration.Roles.Edit',
                                                        'Pages.Administration.Roles.Delete'
                                                    ] | permissionAny
                                                )
                                            "
                                        >
                                            {{ 'Action' | localize }}
                                        </th>
                                        <th [pSortableColumn]="'displayName'">
                                            {{ 'Role' | localize }}
                                            <p-sortIcon [field]="'displayName'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'structure'">
                                            {{ 'Structure' | localize }}
                                            <p-sortIcon [field]="'structure'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'countUsers'">
                                            {{ 'Users' | localize }}
                                            <p-sortIcon [field]="'countUsers'"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td
                                            [hidden]="
                                                !(
                                                    ([
                                                        'Pages.Administration.Roles.Edit',
                                                        'Pages.Administration.Roles.Delete'
                                                    ] | permissionAny) || entityHistoryEnabled
                                                )
                                            "
                                        >
                                            <div class="btn-group" dropdown placement="bottom left">
                                                <button
                                                    id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-sm dropdown-toggle btn-yellow"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu"
                                                >
                                                    <i class="fa fa-cog text-black"></i>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul
                                                    id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton"
                                                >
                                                    <li
                                                        *ngIf="'Pages.Administration.Roles.Edit' | permission"
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            (click)="createOrEditRoleModal.show(record.id)"
                                                        >
                                                            {{ 'Edit' | localize }}
                                                        </a>
                                                    </li>
                                                    <li
                                                        *ngIf="
                                                            !record.isStatic &&
                                                            ('Pages.Administration.Roles.Delete' | permission)
                                                        "
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            (click)="deleteRole(record)"
                                                        >
                                                            {{ 'Delete' | localize }}
                                                        </a>
                                                    </li>
                                                    <li *ngIf="entityHistoryEnabled" role="menuitem">
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            (click)="showHistory(record)"
                                                        >
                                                            {{ 'History' | localize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'RoleName' | localize }}</span>
                                            <span>
                                                {{ record.displayName }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'Structure' | localize }}</span>
                                            <span>
                                                {{ record.structure }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{ 'Users' | localize }}</span>
                                            <span>
                                                {{ record.countUsers }}
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ 'NoData' | localize }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getData($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [currentPageReportTemplate]="
                                        l('TotalRecordsCount') | localize: primengTableHelper.totalRecordsCount
                                    "
                                    [showCurrentPageReport]="true"
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditRoleModal #createOrEditRoleModal (modalSave)="getData()"></createOrEditRoleModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>
