<div [formGroup]="form">
    <div class="form-group">
        <label class="gotham-rounded-medium mb-2 mt-1">{{ title || '' }}</label>
        <div class="input-group">
            <input [class.is-invalid]="form.get(name).touched && form.get(name).invalid" [formControlName]="name"
                [name]="name" class="form-control m-input border-right-0" [placeholder]="placeholder || ''" [type]="type" />
            <div class="input-group-append c-view">
                <button class="btn" (click)="change()">
                    <i *ngIf="type == 'password'" class="fas fa-solid fa-eye color-view"></i>
                    <i *ngIf="type == 'text'" class="fas fa-solid fa-eye-slash color-view"></i>
                </button>
            </div>
        </div>
    </div>
</div>