
.c-view {
    border-top-right-radius: 0.475rem;
    border-bottom-right-radius: 0.475rem;
    border: 1px solid #e4e6ef;
}
.f-left-error {
    margin: 0px 0px 0px calc(100% - 80px)!important;
}
.color-view {
    color: var(--color-icon-into-inputs);
}
