<meta charset="utf-8" />
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('MeasuringTools')" [breadcrumbs]="breadcrumbs">
            <div role="actions">
                <button class="btn btn-yellow text-black" (click)="addOnClick()">
                    <i class="fa fa-plus bg-black"></i>
                    {{ l('QuestionnaireMeasuringTool') }}
                </button>
                <button class="btn btn-yellow-light" (click)="filterOnClick()">
                    <i class="fa fa-filter bg-yellow"></i>
                    {{ l('Filter') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <dynamic-table
                        [configColumns]="columns"
                        [filterPlaceholder]="l('SearchQuestionnaire')"
                        [executeFunction]="loadDataTable"
                        [reload]="reload$()"
                        (editEvent)="editOnClick($event)"
                        (duplicateEvent)="duplicateOnClick($event)"
                        (deleteEvent)="deleteOnClick($event)"
                        [showEdit]="true"
                        [showDuplicate]="true"
                        [showDelete]="true"
                    ></dynamic-table>
                </div>
            </div>
        </div>
    </div>
</div>
