<div [formGroup]="form">
    <div class="row mt-5">
        <div class="col-12">
            <label class="mb-2">{{ l('entities_enterprise_editor_information_title') }}</label>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'name'"
                [title]="l('entities_enterprise_editor_information_name')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'idNumber'"
                [title]="l('entities_enterprise_editor_information_idnumber')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-dropdown
                [form]="form"
                [name]="'countryId'"
                [executeFunction]="loadDataCountry"
                [title]="l('entities_enterprise_editor_information_country')"
                [placeholder]="l('entities_enterprise_editor_information_selectcountry')"
                (changeValue)="loadRegion()"
            ></input-dropdown>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-2 mt-1">
            <input-dropdown
                [form]="form"
                [name]="'regionId'"
                [reload]="reloadRegion$()"
                [executeFunction]="loadDataRegion"
                [title]="l('entities_enterprise_editor_information_region')"
                [placeholder]="l('entities_enterprise_editor_information_selectregion')"
                (changeValue)="loadCity()"
            ></input-dropdown>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-2 mt-1">
            <input-dropdown
                [form]="form"
                [name]="'cityId'"
                [reload]="reloadCity$()"
                [executeFunction]="loadDataCity"
                [title]="l('entities_enterprise_editor_information_city')"
                [placeholder]="l('entities_enterprise_editor_information_selectcity')"
            ></input-dropdown>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'sectorId'"
                [options]="optionsSector"
                [title]="l('entities_enterprise_editor_information_sector')"
                [placeholder]="l('entities_enterprise_editor_information_selectsector')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'lineBusinessId'"
                [options]="optionsBusiness"
                [title]="l('entities_enterprise_editor_information_linebusiness')"
                [placeholder]="l('entities_enterprise_editor_information_selectlinebusiness')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'employeesNumber'"
                [options]="collaborators"
                [title]="l('entities_enterprise_editor_information_employeesnumber')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [options]="optionsEnterpriseTypeId"
                [name]="'enterpriseTypeId'"
                [title]="l('entities_enterprise_editor_information_enterpriseTypeId')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'userId'"
                [options]="optionsUsers"
                [title]="l('entities_enterprise_editor_information_owner')"
                [placeholder]="l('entities_enterprise_editor_information_selectowner')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1 pt-2">
            <input-checkbox
                [form]="form"
                [name]="'isInternational'"
                [title]="l('entities_enterprise_editor_information_isinternational')"
            ></input-checkbox>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1 pt-2">
            <input-checkbox
                [form]="form"
                [name]="'hasInclusion'"
                [title]="l('entities_enterprise_editor_information_hasInclusion')"
            ></input-checkbox>
        </div>
    </div>
    <div class="row mt-7">
        <div class="col-12">
            <label class="mb-2">{{ l('entities_enterprise_editor_information_Logo') }}</label>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1 pe-3">
            <input-drag-file [form]="form" [name]="'logoCompany'"></input-drag-file>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-load-file
                [form]="form"
                [name]="'logoCompany'"
                [title]="l('entities_enterprise_editor_information_loadyourfile')"
            ></input-load-file>
        </div>
    </div>
    <div class="row mt-7">
        <div class="col-12">
            <label class="mb-2">{{ l('entities_enterprise_editor_information_datahhrr') }}</label>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'nameHHRR'"
                [title]="l('entities_enterprise_editor_information_namecompletehhrr')"
                [placeholder]="l('entities_enterprise_editor_information_namecompletehhrrplaceholder')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'emailHHRR'"
                [title]="l('entities_enterprise_editor_information_emailhhrr')"
                [placeholder]="l('entities_enterprise_editor_information_emailhhrrplaceholder')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'positionIdHHRR'"
                [options]="optionsPositions"
                [title]="l('entities_enterprise_editor_information_positionhhrr')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="false"
                [selectFirstCountry]="false"
                [maxLength]="15"
                [phoneValidation]="true"
                name="cellPhoneHHRR"
                formControlName="cellPhoneHHRR"
                [onlyCountries]="onlyCountries"
            ></ngx-intl-tel-input>
            <div [hidden]="form.valid || form.pristine">
                <ul
                    class="help-block text-danger"
                    *ngIf="
                        form.controls['cellPhoneHHRR'] &&
                        form.controls['cellPhoneHHRR'].touched &&
                        form.controls['cellPhoneHHRR'].errors
                    "
                >
                    <li [hidden]="!form.controls['cellPhoneHHRR'].errors.validatePhoneNumber">
                        {{ 'InvalidPhoneNumberText' | localize }}
                    </li>
                    <li [hidden]="!form.controls['cellPhoneHHRR'].errors.required">
                        {{ 'Required' | localize }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-7">
        <div class="col-12">
            <label class="mb-2">{{ l('entities_enterprise_editor_information_dataceo') }}</label>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'nameCeo'"
                [title]="l('entities_enterprise_editor_information_namecompleteceo')"
                [placeholder]="l('entities_enterprise_editor_information_namecompleteceoplaceholder')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-text
                [form]="form"
                [name]="'emailCeo'"
                [title]="l('entities_enterprise_editor_information_emailceo')"
                [placeholder]="l('entities_enterprise_editor_information_emailceoplaceholder')"
            ></input-text>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <input-select
                [form]="form"
                [name]="'positionIdCeo'"
                [options]="optionsPositions"
                [title]="l('entities_enterprise_editor_information_positionceo')"
            ></input-select>
        </div>
        <div class="col-12 col-md-6 mb-2 mt-1">
            <ngx-intl-tel-input
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="false"
                [selectFirstCountry]="false"
                [maxLength]="15"
                [phoneValidation]="true"
                name="cellPhoneCeo"
                formControlName="cellPhoneCeo"
                [onlyCountries]="onlyCountries"
            ></ngx-intl-tel-input>
            <div [hidden]="form.valid || form.pristine">
                <ul
                    class="help-block text-danger"
                    *ngIf="
                        form.controls['cellPhoneCeo'] &&
                        form.controls['cellPhoneCeo'].touched &&
                        form.controls['cellPhoneCeo'].errors
                    "
                >
                    <li [hidden]="!form.controls['cellPhoneCeo'].errors.validatePhoneNumber">
                        {{ 'InvalidPhoneNumberText' | localize }}
                    </li>
                    <li [hidden]="!form.controls['cellPhoneCeo'].errors.required">
                        {{ 'Required' | localize }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
