.pn{
  pointer-events: none;
}

.content-stepper {
  display: flex;
  flex-direction: column;
}

.content-step {
  overflow: hidden;
}

.content-navigate {
  display: flex;
}

.step-number {
  width: 32px;
  height: 32px;
  background-color: white;
  color: #472987;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #472987;
}

.step-index {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.step-title {
  font-size: 14px;
  color: #472987;
  white-space: nowrap;
  text-align: center;
  width: 200px;
}

.stepper-navigate {
  flex: 1;
  display: flex;
  flex-direction: column;

  & .step-index:after,
  & .step-index:before {
    content: ' ';
    display: block;
    background-color: rgba(0,0,0,.12);
    flex: 0.5;
    height: 1px;
  }

  &:first-child .step-index {
    justify-content: flex-end;
  }

  &:last-child .step-index {
    justify-content: flex-start;
  }

  &.active, &.complete {
    .step-number {
      background-color: #472987;
      color: white;
    }

    .step-title {
      color: #472987;
      font-weight: 600;
    }
  }
}
