<div class="content-stepper">
  <!-- Stepper Selector -->
  <div class="card card-bordered">
    <h1 class="text-center mt-10 mb-10" *ngIf="this.stepperLabel">{{ stepperLabel }}</h1>
    
    <div class="card-header align-items-center pn">      
      <div class="content-navigate mb-10">
        <div class="stepper-navigate" *ngFor="let step of steps; let i = index" (click)="goToStep(step)"
          [class.active]="step.isActive" [class.complete]="step.isComplete">
          <div class="step-index">
            <div class="step-number">
              <span *ngIf="step.isActive || !step.isComplete">{{ i + 1 }}</span>
              <svg *ngIf="step.isComplete && !step.isActive" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                viewBox="0 0 25 25">
                <path
                  d="M9.542 16.67l-3.47-3.47c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.18 4.18c.39.39 1.02.39 1.41 0l10.58-10.58c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0l-9.88 9.87z" />
              </svg>
            </div>
          </div>
          <div class="step-title">
            {{ step.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-4">
    <!-- Separation between header and content -->
  </div>

  <!-- Stepper Content -->
  <div class="card card-bordered p-20">
    <div class="card-content">
      <div class="content-step">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>