.content-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tooltip-inner {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    text-align: left;
}

.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
    border-top-color: black;
}
