<div [@routerTransition]>
    <div class="mt-5 d-flex flex-column flex-column-fluid">
    <sub-header [title]="'QuestionsBank' | localize" [description]="(isDuplicate() ? 'DuplicateQuestion' : isEditMode() ? 'EditQuestion' : 'NewQuestion') | localize">
            <div role="actions" class="">
                <button class="btn btn-customer-outline" (click)="closeOnClick()">
                    {{ l('Cancel') }}
                </button>
                <button class="btn btn-orange" (click)="save()" [disabled]="!formTemplate.valid">
                    {{ l('Confirm') }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form [formGroup]="formTemplate" class="form">
                        <div>
                            <span class="gotham-rounded-medium">{{ l('Form_Question_Bank') }}</span>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('question').touched &&
                                                    formTemplate.get('question').invalid
                                                "
                                                formControlName="question"
                                                class="form-control m-input"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="gotham-rounded-medium">{{ l('Form_ShortVersion_Bank') }}</span>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="mb-5 m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [class.is-invalid]="
                                                    formTemplate.get('shortVersion').touched &&
                                                    formTemplate.get('shortVersion').invalid
                                                "
                                                formControlName="shortVersion"
                                                class="form-control m-input"
                                                type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <label class="col-md-12 mb-4 form-label gotham-rounded-medium">
                                {{ l('Form_HelpForQuestion_Bank') }}
                            </label>
                            <div class="mb-5 m-form__group align-items-center">
                                <div class="d-flex mb-5">
                                    <label
                                        for="EditEdition_IsFree"
                                        class="form-check form-check-custom form-check-solid me-5"
                                    >
                                        <input
                                            [formControl]="controlType"
                                            class="form-check-input"
                                            id="EditEdition_IsFree"
                                            name="controlType"
                                            type="radio"
                                            [value]="true"
                                            [class.is-invalid]="controlType.invalid"
                                        />
                                        <span class="form-check-label gotham-rounded-medium">
                                            {{ l('Form_Tooltip_Bank') }}
                                        </span>
                                    </label>
                                    <label
                                        for="EditEdition_IsPaid"
                                        class="form-check form-check-custom form-check-solid"
                                    >
                                        <input
                                            [formControl]="controlType"
                                            class="form-check-input"
                                            id="EditEdition_IsPaid"
                                            name="controlType"
                                            type="radio"
                                            [value]="false"
                                            [class.is-invalid]="controlType.invalid"
                                        />
                                        <span class="form-check-label gotham-rounded-medium">
                                            {{ l('Form_FixedText_Bank') }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12" *ngIf="controlType.value">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="col-md-12 form-label gotham-rounded-medium">Tooltip</label>
                                    <textarea
                                        formControlName="tooltip"
                                        [class.is-invalid]="
                                            formTemplate.get('tooltip').touched && formTemplate.get('tooltip').invalid
                                        "
                                        class="form-control edited"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12" *ngIf="!controlType.value">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="col-md-12 form-label gotham-rounded-medium">
                                        {{ l('Form_FixedText_Bank') }}
                                    </label>
                                    <textarea
                                        formControlName="fixedText"
                                        [class.is-invalid]="
                                            formTemplate.get('fixedText').touched &&
                                            formTemplate.get('fixedText').invalid
                                        "
                                        class="form-control edited"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-12">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="col-md-12 form-label gotham-rounded-medium">
                                        {{ l('Form_ImplementationTip_Bank') }}
                                    </label>
                                    <textarea
                                        formControlName="implementationTip"
                                        [class.is-invalid]="
                                            formTemplate.get('implementationTip').touched &&
                                            formTemplate.get('implementationTip').invalid
                                        "
                                        class="form-control edited"
                                        rows="4"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">
                                        {{ l('Form_QuestionnaireType_Bank') }}
                                    </label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        formControlName="formTypeId"
                                        [class.is-invalid]="
                                            formTemplate.get('formTypeId').touched &&
                                            formTemplate.get('formTypeId').invalid
                                        "
                                    >
                                        <option disabled selected value>
                                            {{ l('Form_SelectTheTypeOfQuestionnaire_Bank') }}
                                        </option>
                                        <option *ngFor="let inputType of listQuestionnaireType" [value]="inputType.id">
                                            {{ inputType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">{{ l('Form_Use_Bank') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        formControlName="usageId"
                                        (change)="getCategories($event.target.value)"
                                        [class.is-invalid]="
                                            formTemplate.get('usageId').touched && formTemplate.get('usageId').invalid
                                        "
                                    >
                                        <option disabled selected value>{{ l('Form_SelectTheUse_Bank') }}</option>
                                        <option *ngFor="let inputType of listQuestionUse" [value]="inputType.id">
                                            {{ inputType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">{{ l('Category') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        formControlName="questionCategoryId"
                                        [class.is-invalid]="
                                            formTemplate.get('questionCategoryId').touched &&
                                            formTemplate.get('questionCategoryId').invalid
                                        "
                                    >
                                        <option disabled selected value>{{ l('SelectTheCategory') }}</option>
                                        <option *ngFor="let inputType of listCategories" [value]="inputType.id">
                                            {{ inputType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">{{ l('Theme') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        formControlName="formThematicId"
                                        [class.is-invalid]="
                                            formTemplate.get('formThematicId').touched &&
                                            formTemplate.get('formThematicId').invalid
                                        "
                                    >
                                        <option disabled selected value>{{ l('SelectTheTheme') }}</option>
                                        <option *ngFor="let inputType of listThematics" [value]="inputType.id">
                                            {{ inputType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">{{ l('TypeQuestion') }}</label>
                                    <select
                                        (change)="getResponses($event.target.value)"
                                        class="form-select form-control gotham-rounded-medium"
                                        formControlName="questionTypeId"
                                        [class.is-invalid]="
                                            formTemplate.get('questionTypeId').touched &&
                                            formTemplate.get('questionTypeId').invalid
                                        "
                                    >
                                        <option disabled selected value>{{ l('SelectTheTypeOfQuestion') }}</option>
                                        <option *ngFor="let inputType of listQuestionType" [value]="inputType.id">
                                            {{ inputType.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div
                                    *ngIf="formTemplate.value.questionTypeId == open"
                                    class="mb-5 m-form__group align-items-center"
                                >
                                    <label class="form-label gotham-rounded-medium">{{ l('Responses') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        [formControl]="numberResponses"
                                        (change)="createAnswer($event.target.value)"
                                    >
                                        <option disabled selected value>{{ l('NumberOfResponses') }}</option>
                                        <option *ngFor="let inputType of numberResponse" [value]="inputType">
                                            {{ inputType }}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="formTemplate.value.questionTypeId == structure" class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">{{ l('Levels') }}</label>
                                    <select
                                        class="form-select form-control gotham-rounded-medium"
                                        [formControl]="numberLevels"
                                        (change)="createLevels($event.target.value)"
                                    >
                                        <option disabled selected value>{{ l('Levels') }}</option>
                                        <option *ngFor="let inputType of levels" [value]="inputType">
                                            {{ inputType }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div *ngIf="formTemplate.value.questionTypeId != boolean" class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">
                                        {{
                                            l(
                                                formTemplate.value.questionTypeId != open
                                                    ? 'ScoreOrFormulaForCalculation'
                                                    : 'FormulaForCalculation'
                                            )
                                        }}
                                    </label>
                                    <i class="ms-2 text-success fa fa-exclamation-circle btn-md-icon"></i>
                                    <div class="input-group">
                                        <input
                                            [class.is-invalid-noicon]="
                                                formTemplate.get('formula').touched &&
                                                formTemplate.get('formula').invalid
                                            "
                                            formControlName="formula"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="input-group">
                                    <label class="form-check form-check-custom form-check-solid form-switch">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            formControlName="questionDependentQuestions"
                                            name="questionDependentQuestions"
                                        />
                                        <span class="form-check-label gotham-rounded-medium ms-2">
                                            {{ l('ThisQuestionHasDependentQuestions') }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="input-group">
                                    <label class="form-check form-check-custom form-check-solid form-switch">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            formControlName="isNullable"
                                            name="isNullable"
                                        />
                                        <span class="form-check-label gotham-rounded-medium ms-2">
                                            {{ l('ThisQuestionCanBeOverridden') }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-xl-4">
                                <div class="mb-5 m-form__group align-items-center">
                                    <label class="form-label gotham-rounded-medium">
                                        {{ l('TypeOfCancellation') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            [class.is-invalid-noicon]="
                                                formTemplate.get('formula').touched &&
                                                formTemplate.get('formula').invalid
                                            "
                                            formControlName="formula"
                                            class="form-control m-input"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="input-group">
                                    <label class="form-check form-check-custom form-check-solid form-switch">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            formControlName="isCertified"
                                            name="isCertified"
                                        />
                                        <span class="form-check-label gotham-rounded-medium ms-2">
                                            {{ l('ThisQuestionCanBeCertified') }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="input-group">
                                    <label class="form-check form-check-custom form-check-solid form-switch">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            formControlName="isPriority"
                                            name="isPriority"
                                        />
                                        <span class="form-check-label gotham-rounded-medium ms-2">
                                            {{ l('ThisIsAPriorityQuestion') }}
                                        </span>
                                        <i class="ms-2 text-success fa fa-exclamation-circle btn-md-icon"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="formTemplate.value.questionTypeId && formTemplate.value.questionTypeId != structure" class="mt-5 d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="mb-2">{{ l('Responses') }}</label>
                        <button
                            *ngIf="formTemplate.value.questionTypeId != boolean"
                            class="btn btn-orange"
                            id="buttonResponse"
                            type="button"
                            (click)="addOnClick(formTemplate.value.questionTypeId == open ? true : false)"
                            [disabled]="maxAnswer == getLengthAnswers()"
                        >
                            <i class="fa fa-plus btn-md-icon"></i>
                            <span class="d-none d-md-inline-block">
                                {{ 'Response' | localize }}
                            </span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <dynamic-table
                                [configColumns]="
                                    formTemplate.value.questionTypeId == unica ||
                                    formTemplate.value.questionTypeId == multiple ||
                                    formTemplate.value.questionTypeId == boolean
                                        ? responsesWithScore
                                        : formTemplate.value.questionTypeId == open
                                        ? responsesForOpen
                                        : responses
                                "
                                (editEvent)="editOnClick($event, formTemplate.value.questionTypeId == open ? true : false)"
                                (deleteEvent)="deleteOnClick($event)"
                                [data]="answersQToTable$()"
                                [showEdit]="true"
                                [showDelete]="formTemplate.value.questionTypeId == boolean ? false : true"
                            ></dynamic-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  *ngIf="formTemplate.value.questionTypeId == structure" class="mt-5 mb-10 d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="mb-2">{{ l('Levels') }}</label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <dynamic-table
                                [configColumns]="structureQuestion"
                                (editEvent)="addDestinaryOnClick($event)"
                                (deleteEvent)="deleteOnClick($event, true)"
                                [data]="structureQuestionsQ$()"
                                [showEdit]="true"
                                [showDelete]="true"
                            ></dynamic-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-10 d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="mb-2">{{ l('DependentQuestions') }}</label>
                        <button
                        class="btn btn-orange"
                    >
                        <i class="fa fa-plus btn-md-icon"></i>
                        <span class="d-none d-md-inline-block">
                            {{ 'DependentQuestion' | localize }}
                        </span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-response-upsert #responseUpsert (modalSave)="addResponse($event)"></app-response-upsert>

<app-add-question #addQuestion (returnItemSelectedEvent)="onSelectedItem($event)"></app-add-question>
