<div class="content-form">
    <h1 class="text-primary">Enter a pokemon</h1>
    <h3>(For this implementation you must enter an existing Pokemon)</h3>
    <div class="content-input">
        <label for="first-name">Pokemon Name</label>
        <input name="first-name" (input)="inputValue.next($event.target.value)" class="form-control" type="text" />
    </div>
</div>
