<div class="row align-items-center mt-1">
    <sub-header [title]="'Questionnaire' | localize " [description]="'Gestion de Crisis'">
        <div role="actions">
            <button
            class="btn btn-orange-light"
        >
            <span class="d-none d-md-inline-block">
                {{ 'Return' | localize }}
            </span>
        </button>
        <button
        class="btn btn-orange"
    >
        <i class="fa fa-plus btn-md-icon"></i>
        <span class="d-none d-md-inline-block">
            {{'SaveProcess' | localize}}
        </span>
    </button>
        </div>
    </sub-header>
    <div class="container">
    <div class="card card-custom gutter-b">
        <div class="card-body">
                <dynamic-input [questionsConfig]="Questions"></dynamic-input>
                <!--<dynamic-input [questionsConfig]="Questions"></dynamic-input>-->
                <!-- <dynamic-input [questionsConfig]="singleQuestion"></dynamic-input>
                <dynamic-input [questionsConfig]="multipleQuestion"></dynamic-input>
                <dynamic-input [questionsConfig]="openQuestion"></dynamic-input> -->
            </div>
        </div>
    </div>
</div>

