
.active-sidebar {
    background-color: var(--color-bg-primary-dark);
}

.active-sidebar-tree {
    background-color: var(--active-sidebar-tree);
}

.aside-light .menu .menu-title {
    font-weight: 200;
    font-size: 11px;
}

#SideBarSearch {
    font-weight: 200;
    font-size: 14px;
}
