<div [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div clas="content d-flex">
            <div class="card card-custom gutter-b">
                <div class="content-flex-row">
                    <div class="card-left">
                        <div class="box">
                            <div class="box-left box-width-35">
                                <span class="span-text-block text-blue">
                                    Cierre de convocatoria
                                </span>
                                <span class="span-text-block text-muted">
                                    <i class="fa fa-calendar-day"></i>30 Abril de 2022
                                </span>
                                <span class="span-text-block text-muted">
                                    <i class="fa fa-clock"></i>12:00 pm
                                </span>
                            </div>
                            <div class="box-right box-width-65">
                                <span class="span-text-block text-blue">
                                    Tiempo restante para enviar su participación
                                </span>
                                <div class="box-clock">
                                    <span>10</span>
                                    <span>:</span>
                                    <span>0</span>
                                    <span>:</span>
                                    <span>0</span>
                                    <span>:</span>
                                    <span>55</span>    
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="card-right">
                        <div class="box">
                            <div class="box-left box-width-25">
                                <i class="item-flex-center fa fa-bell fa-5x"></i>
                            </div>
                            <div class="box-right box-width-75">
                                <span class="span-text-block box-width-75">
                                    <i class="fa fa-bell"></i>Tu participación no será considerada hasta que la envíes
                                </span>
                                <span class="span-text-block text-muted">
                                    Última modificación 15/05/2022 04:30 pm
                                </span>
                                <span class="span-text-block">
                                    <i class="fa fa-bell"></i>Puedes editar el cuestionario aún luego de haberlo enviado
                                </span>
                                <button class="btn-100">Enviar Participación</button>
                            </div>
                        </div>                       
                    </div>
                </div>             
                
                <div class="content-flex-row">
                    <div class="card-right">
                        <div class="box">
                            <div class="box-left box-width-50">
                                <span class="span-text-block text-blue">
                                    ¡Bienvenidos a RANKING PARP 2022!
                                </span>
                                <span class="span-text-block text-muted">
                                    Evalua las condiciones de equidad de género de tu organización.
                                </span>
                                <span class="span-text-block text-muted">
                                    <i class="fa fa-clock"></i>Leer cómo hacerlo
                                </span>
                                <span class="span-text-block text-muted">
                                    <i class="fa fa-clock"></i>Ver cómo hacerlo
                                </span>
                            </div>
                            <div class="box-right box-width-50">
                                imagen
                            </div>
                        </div>
                    </div>
                        <div class="box-50">
                            <div class="card-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam in, labore, laborum harum voluptatem, voluptatum natus quod voluptate non laboriosam quo. Cumque similique facere itaque unde nemo aspernatur, est dolorum?</div>
                            <div class="card-right">Der</div>
                        </div>

                           
                </div>  


            </div>
        </div>
    </div>   

    <div clas="content d-flex">
            <div class="card card-custom gutter-b">
                <div class="content-flex-tabs">
                    <tabset> 
                        <tab heading="Categorias">
                            <div>
                                <button class="btn-filter">Todas</button>
                                <button class="btn-filter">Completadas</button>
                                <button class="btn-filter">Pendientes</button>
                            </div>
                            <div class="content-card-questions">
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                                <div class="question">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores cum libero dolor, ipsa sequi aliquid error eius nam, magnam, natus ab harum. Dolorem perspiciatis fuga ut sit omnis, atque saepe?
                                </div>
                            </div>
                        </tab>
                        <tab heading="Distinciones Especiales">
                        as
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>  

</div>
