* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.span-text-block {
    display: flex;
    margin-bottom: 5px;
}

.text-blue {
    color: rgb(18, 10, 49);
}

.box {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    height: 100%;
    min-height: 100px;
}

.box-width-25 {
    width: 25%;
}

.box-width-35 {
    width: 35%;
}

.box-width-50 {
    width: 50%;
}

.box-width-65 {
    width: 65%;
}

.box-width-75 {
    width: 75%;
}

.box-left , .box-right {
    align-self: center;
}

.content-flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 20px;
    box-sizing: border-box;

}

.content-flex-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px;
}


.content-flex-tabs .btn-filter{
    margin:8px;
    margin-top: 20px;
    width: auto;
    padding: 5px;
    color: green;
    border-radius: 6px;
    border: 1px solid gray;
}

.content-card-questions {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: auto;
}

.content-card-questions .question{
    width: calc(25% - 20px);
    min-height: 300px;
    padding: 5px;
    margin: 10px 10px;
    border-radius: 6px;
    border: 2px solid rgba(216, 210, 210, 0.5);

}


.box-50 {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-flow: wrap;
    height: auto;
    min-height: 180px;
}

.card-left , .card-right {
    background-color: white;
    width: calc(50% - 10px);
    min-width: 320px;
    margin: 0px 10px 10px 0px;
    height: 80px;
    padding: 20px;
    border: 1px solid rgba(216, 210, 210, 0.9);
    border-radius: 6px;
}

.card-left {
    border-left: 10px solid rgb(62, 156, 53);
    height: auto;
    align-items: center;
}

.card-right {
    height: auto;
}

.item-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*.card-left .box .box-left {
    width: 35%;
}

.card-right .box .box-left{
    width: 25%;
}*/

.card-left .box .box-left , .card-right .box .box-left  {   
    margin-top: 0px;
    padding: 0px;
    min-width: 100px;
}

/*.card-left .box .box-right {
    width: 65%;
}

.card-right .box .box-right{
    width: 75%;
}*/

.card-left .box .box-right , .card-right .box .box-right   {   
    min-width: 100px;
    justify-content: space-between;

}

.card-left .box .box-left .span-text-block i {
    color: green;
    margin-right: 10px;
}


.card-left .box .box-right .box-clock {
    display: flex;
    justify-content: center;
    font-size: 2rem; 
    line-height: 2rem;   
}

.card-left .box .box-right .span-text-block{
    display: flex;
    justify-content: center;
}

.card-left .box .box-right .box-clock span {
    margin: 10px 10px;
}

.box .box-center i{
    align-items: center;
    justify-content: center;
}

.card-right .box .box-right .span-text-block i {
    color: green;
    margin-right: 10px;
}



.btn-100 {
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .content-flex-row .card-left , .content-flex-row .card-right {
        margin-right: 0px;
    }
}

@media (max-width: 1148px) {

    .card-left .box .box-left {
        width: 100%;
    }
    
    .card-left .box .box-right {   
        width: 100%;        
    }
   
    .card-left .box .box-right .box-clock{   
        width: 100%;        
    }


}

