
.bg-customer {
    background-color: var(--color-active-btn)!important;
}
.btn-customer {
    background-color: var(--color-active-btn)!important;
    color: white!important;
}
.btn-customer:hover {
    background-color: var(--color-active-btn-focus)!important;
    color: white!important;
}
.btn-customer {
    font-weight: 700!important;
}
.size-active-font{
    font-size: 1rem!important;
}
.font-weight-values{
    font-weight: 350;
    // font-size: 0.9rem;
}