.btn-customer-search {
    background-color: #382e55!important;
    color: #706985!important;
    font-weight: 700!important;
}
.input-search {
    background-color: #382e55!important;
    color: #706985!important;
    border: none;
}