<div class="flex-column-auto aside-search-container">
    <form>
        <div class="form-body">
            <div class="input-group ps-6 pe-6 mb-2">
                <input
                    id="SideBarSearch"
                    name="filterText"
                    class="form-control aside-search-input input-search"
                    placeholder="{{ 'QuickNavegation' | localize }}"
                    type="text"
                />
                <button class="btn btn-customer-search aside-search-btn" type="submit">
                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                </button>
            </div>
        </div>
    </form>
</div>
