<div
    appBsModal
    #upsertElementModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="upsertElementModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('entities_enterprise_editor_users_titlemodaladd') }}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"></button>
            </div>

            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <input
                                type="text"
                                id="Branch_List_Filter_Name"
                                name="branchListFilterName"
                                class="form-control"
                                autoFocus
                                [(ngModel)]="filter"
                                (input)="searchOnInput()"
                            />
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-customer" (click)="addOnClick()">
                                <i class="fa fa-plus text-white"></i>
                                {{ l('entities_enterprise_editor_users_add') }}
                            </button>
                        </div>
                    </div>
                    <app-dynamic-select-table
                        [configColumns]="columns"
                        [filterPlaceholder]="'Search...'"
                        [data]="records$()"
                        [showBtn]="false"
                        (isAddItemEvent)="onSelectedItemClose($event)"
                        (changeSelecction)="onSelectedItem($event)"
                        (changeAllSelecction)="onSelectedAllItems($event)"
                        [seletedIds]="selectedProducts"
                    ></app-dynamic-select-table>
                </div>
            </div>
        </div>
    </div>
</div>
