<meta charset="utf-8" />
<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="l('ranking_par_title')" [breadcrumbs]="breadcrumbs"></sub-header>
    </div>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b mt-1rem">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-lg-8 pt-1rem">
                        <div class="fs-2rem">
                            {{ l('launch_call_title') }}
                        </div>
                        <div class="separation-div-custom">{{ l('launch_call_date') }}</div>
                        <div class="separation-div">
                            <hr />
                        </div>
                        <div class="separation-div description">
                            <p>
                                {{ l('launch_call_description') }}
                            </p>
                        </div>
                        <div class="mt-2rem">
                            <button class="btn btn-customer-outline" (click)="downloadFile('cuestionario.xlsx')">
                                <div class="btn-content purple-bg">
                                    <i class="far fa-file-excel"></i>
                                    {{ l('launch_call_excel') }}
                                </div>
                            </button>
                            <button class="btn btn-customer-outline" (click)="downloadFile('cuestionario.pdf')">
                                <div class="btn-content purple-bg">
                                    <i class="far fa-file-pdf"></i>
                                    {{ l('launch_call_pdf') }}
                                </div>
                            </button>
                            <button class="btn btn-customer-outline" (click)="downloadFile('sustento_teorico.pdf')">
                                <div class="btn-content">
                                    <i class="far fa-file-pdf"></i>
                                    {{ l('launch_call_theoretical_support') }}
                                </div>
                            </button>
                            <button
                                class="btn btn-customer-outline"
                                (click)="downloadFile('medios_de_verificacion.pdf')"
                            >
                                <div class="btn-content">
                                    <i class="far fa-file-pdf"></i>
                                    {{ l('launch_call_verification_means') }}
                                </div>
                            </button>
                        </div>
                        <div class="contacts">
                            <p>
                                {{ l('launch_call_footer_1') }}
                                <a href="https://par.aequales.com/">{{ l('par_platform') }}</a>
                                {{ l('launch_call_footer_2') }}
                                <a href="https://aequales.com/contactanos/">{{ l('contact_us') }}.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="l-img">
                            <img
                                src="assets/common/images/launch-call-image.png"
                                alt="launch-call"
                                class="img-responsive"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
