hr {
    border: 0;
    border-top: 2px solid lightslategray;
}

div {
    text-align: inherit;
    text-justify: inherit;
}

a, i {
    color: #4f208e;
    text-decoration: underline;
}

.separation-div {
    margin-top: 1rem;
}

.separation-div-custom {
    color: #4f208e;
    margin-top: 1rem;
}

.pt-5rem {
    padding: 5rem;
}

.mt-1rem {
    margin-bottom: 1rem;
}

.mt-2rem {
    margin-bottom: 2rem;
}

.fs-2rem {
    font-size: 2rem;
}

.description {
    padding-right: 8rem;
    font-weight: lighter;
}

.contacts {
    margin-top: 4em;
    font-weight: lighter;
}

.l-img {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button.btn.btn-customer-outline {
    min-width: 230px;
    margin: 0 5px 5px 0;
    padding: 1px 0px 1px 0px !important;
}

.btn-content {
    padding: 4.2px 19.5px 4.2px 19.5px;
    width: 101%;
}

.purple-bg{
    background-color: #4f208e;
    position: relative;
    left: -1px;
}

.purple-bg, .purple-bg i{
    color: white;
}
